%h1 Импорт ответов из Excel-файла
%p
  Помните: следует загружать только таблицы, соответствующие формату выгрузки.

%h3 Требования
%ul
  %li Вы должны проверить свой файл на соответствие требованиями к модели предмета.
  %li Файл должен быть Excel, при этом содержать только столбцы 'ID', 'Тип тестирования', 'Предмет', 'Идентификатор', 'Дата', 'Номер ответа', 'Ответ', 'Замена ответа'
  %li При выполнении этих требований, файл может быть импортирован.
  %li При совпадении ID статус будет обновлён; если такого ID нет, то статус будет добавлен, но при этом ID будет следующим порядковым
%h5 Выберите файл
= form_for @answers_import do |f|
  - if @answers_import.errors.any?
    = pluralize(@answers_import.errors.count, "error")
    защита от неверного импорта таблиц.

    Пожалуйста, измените свою электронную таблицу и попробуйте снова.
    %ul
      - @answers_import.errors.full_messages.each do |msg|
        %li= msg
  = f.file_field :file
  = f.submit t("buttons.import_file")
= link_to t('buttons.back'), answers_path