-require 'roo'

-file=params[:task_recomendations_import]['file']

%h2
  = "Импорт рекомендаций заданий из Excel-файла :: "
  = file.original_filename
  = " ::"

-if !file.nil?
  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -if xlsx.sheets.count == 1
    -if xlsx.sheet(0).last_row > 1
      -if xlsx.sheet(0).last_column == 5
        - if xlsx.sheet(0).row(1)[0] == 'ID' and xlsx.sheet(0).row(1)[1] == 'Тип тестирования' and xlsx.sheet(0).row(1)[2] == 'Предмет' and xlsx.sheet(0).row(1)[3] == 'Номер задания' and xlsx.sheet(0).row(1)[4] == 'Рекомендация'
          %p Все правила для файла проверены. Начинается импорт.
          -i = 1
          -while i<xlsx.sheet(0).last_row
            -imp = nil
            -i = i + 1
            -if !xlsx.sheet(0).row(i)[0].nil?
              -imp = TaskRecomendation.where("id = " + xlsx.sheet(0).row(i)[0].to_s).first
            -if imp.nil?
              -imp = TaskRecomendation.new
            -imp.test_type_id = TestType.where(:name => xlsx.sheet(0).row(i)[1]).first.id
            -imp.subject_id = Subject.where(:subject_name => xlsx.sheet(0).row(i)[2]).first.id
            -imp.task_number = xlsx.sheet(0).row(i)[3]
            -imp.recomendation = xlsx.sheet(0).row(i)[4]
            -imp.save
            -if !imp.id.nil? and !imp.test_type_id.nil? and !imp.subject_id.nil? and !imp.task_number.nil? and !imp.recomendation.nil?
              =imp.id
              %p
                = "Загружена строка №"
                = i.to_s
                = ". ID "
                = xlsx.sheet(0).row(i)[0]
                = ", тип тестирования "
                = xlsx.sheet(0).row(i)[1]
                = ", предмет "
                = xlsx.sheet(0).row(i)[2]
                = ", номер задания "
                = xlsx.sheet(0).row(i)[3]
                = ", рекомендация "
                = xlsx.sheet(0).row(i)[4]
                = ". "
            -else
              %p
                = "В строке №"
                = i.to_s
                = " что-то не заполнено."
        -else
          %p Заголовки не соответствуют формату загрузки сведений о статусах обработки ('ID', 'Тип тестирования', 'Предмет', 'Номер задания', 'Рекомендация').
      -else
        %p В файле не 5 столбцов.
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист.
-else
  %p Файл не найден

= link_to t('buttons.back'), task_recomendations_path