%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("citizenships.actions.edit")
    = form_for @citizenship do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Карточка типа образовательной организации
                .card-body
                  %h5.card-title Тип образовательной организации
                  %p.card-text
                    %table.table-bordered.table-striped
                      %tr
                        %th= t("citizenships.code")
                        %td= f.text_field :code, autofocus: false, placeholder: t("citizenships.code"), class: 'form-control'
                      %tr
                        %th= t("citizenships.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("citizenships.name"), class: 'form-control'
                      %tr
                        %th= t("citizenships.short_name")
                        %td= f.text_field :short_name, autofocus: false, placeholder: t("citizenships.short_name"), class: 'form-control'
                      %tr
                        %th= t("citizenships.fisgia9code")
                        %td= f.number_field :fisgia9code, autofocus: false, placeholder: t("citizenships.fisgia9code"), class: 'form-control'
                      %tr
                        %th= t("citizenships.fisgia11code")
                        %td= f.number_field :fisgia11code, autofocus: false, placeholder: t("citizenships.fisgia11code"), class: 'form-control'
                      %tr
                        %th= t("citizenships.sort_by")
                        %td= f.number_field :sort_by, autofocus: false, placeholder: t("citizenships.sort_by"), class: 'form-control'

              %p
                .form-actions
                  = f.submit @citizenship.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @citizenship.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @citizenship.errors.count} не #{I18n.t :pozvol, count: @citizenship.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @citizenship.errors.full_messages.each do |message|
                        %li= message
