#contact-modal.modal.fade
  .modal-dialog
    .modal-content
      %h4
        = t("citizenships.actions.edit")
        = @citizenship.name.to_s
      .modal-body
        = form_for @ate do |f|
          .form-group
            %table
              -if current_user.admin?
                %tr
                  %td= t("citizenships.guid")
                  %td= f.text_field :guid, autofocus: false, placeholder: t("citizenships.guid"), class: 'form-control'
              %tr
                %td= t("citizenships.code")
                %td= f.number_field :code, autofocus: false, placeholder: t("citizenships.code"), class: 'form-control'
              %tr
                %td= t("citizenships.full_name")
                %td= f.text_field :name, autofocus: false, placeholder: t("citizenships.name"), class: 'form-control'
              %tr
                %td= t("citizenships.district")
                %td= f.text_field :district, autofocus: false, placeholder: t("citizenships.district"), class: 'form-control'
              -#%tr
              -#  %td= t("citizenships.low_address")
              -#  %td= f.text_field :low_address, autofocus: false, placeholder: t("citizenships.low_address"), class: 'form-control'
              %tr
                %td= t("citizenships.address")
                %td= f.text_field :address, autofocus: false, placeholder: t("citizenships.address"), class: 'form-control', :name => "address"
              %tr
                %td= t("citizenships.charge_fio")
                %td= f.text_field :charge_fio, autofocus: false, placeholder: t("citizenships.charge_fio"), class: 'form-control'
              %tr
                %td= t("citizenships.phones")
                %td= f.text_field :phones, autocomplete: "phone Number", class: "form-control", placeholder: "+7(999)8884433" , 'data-mask': '+7(000)0000000'
              %tr
                %td= t("citizenships.email")
                %td= f.email_field :email, autofocus: false, placeholder: t("citizenships.email"), class: 'form-control'
              %tr
                %td= t("citizenships.www")
                %td= f.url_field :www, autofocus: false, placeholder: t("citizenships.www"), class: 'form-control'
            .modal-footer
              .form-actions
                = f.submit @citizenship.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                -# = link_to t('buttons.back'), :back
        .modal-footer
          .alert.alert-info{:role => "alert"}
            %p="Для применения изменений нажмите кнопку «Сохранить»."