-if !@citizenships.nil?
  %p
    = I18n.t :citizenship, count: @citizenships.count

-if @citizenships.count > 20
  .apple_pagination
    = will_paginate @citizenships

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      %th= t("citizenships.code")
      %th= t("citizenships.name")
      %th= t("citizenships.short_name")
      %th= t("citizenships.fisgia9code")
      %th= t("citizenships.fisgia11code")
      %th= t("citizenships.sort_by")
      -if current_user.admin?
        %th= t("citizenships.actions.title")
    %tbody
      - @citizenships.each do |row|
        -if can? :read, row
          %tr
            %td= row.code.to_s
            %td= link_to row.name.to_s, citizenship_path(row)
            %td= row.short_name
            %td= row.fisgia9code
            %td= row.fisgia11code
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_citizenship_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to citizenship_path(row), :method => :delete,  data: { confirm: t('citizenships.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @citizenships.count > 20
  .apple_pagination
    = will_paginate @citizenships