.row
  .span9
    %h3.pull-left
      .text3d= t("citizenships.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag citizenships_path, :method => 'get', :id => "citizenships_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, Citizenship
              = link_to new_citizenship_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, Citizenship) and (can? :export, Citizenship)
              =" | "
            - if can? :export, Citizenship
              = link_to citizenships_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, Citizenship) and (can? :import, Citizenship)
              =" | "
            - if can? :import, Citizenship
              = link_to new_citizenships_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}