-if !@exam_waves.nil?
  %p
    = I18n.t :exam_wave, count: @exam_waves.count

-if @exam_waves.count > 20
  .apple_pagination
    = will_paginate @exam_waves

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      %th= t("exam_waves.code")
      %th= t("exam_waves.name")
      %th= t("exam_waves.short_name")
      %th= t("exam_waves.fisgia9code")
      %th= t("exam_waves.fisgia11code")
      %th= t("exam_waves.sort_by")
      -if current_user.admin?
        %th= t("exam_waves.actions.title")
    %tbody
      - @exam_waves.each do |row|
        -if can? :read, row
          %tr
            %td= row.code.to_s
            %td= link_to row.name.to_s, exam_wave_path(row)
            %td= row.short_name
            %td= row.fisgia9code
            %td= row.fisgia11code
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_exam_wave_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to exam_wave_path(row), :method => :delete,  data: { confirm: t('exam_waves.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @exam_waves.count > 20
  .apple_pagination
    = will_paginate @exam_waves