.row
  .span9
    %h3.pull-left
      .text3d= t("exam_waves.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag exam_waves_path, :method => 'get', :id => "exam_waves_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, ExamWave
              = link_to new_exam_wave_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, ExamWave) and (can? :export, ExamWave)
              =" | "
            - if can? :export, ExamWave
              = link_to exam_waves_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, ExamWave) and (can? :import, ExamWave)
              =" | "
            - if can? :import, ExamWave
              = link_to new_exam_waves_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}