-require 'roo'

-file=params[:test_types_import]['file']

%h2
  = "Импорт типов тестирований результатов из Excel-файла :: "
  = file.original_filename
  = " ::"

-if !file.nil?
  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -if xlsx.sheets.count == 1
    -if xlsx.sheet(0).last_row > 1
      -if xlsx.sheet(0).last_column == 2
        - if xlsx.sheet(0).row(1)[0] == 'ID' and xlsx.sheet(0).row(1)[1] == 'Тип тестирования'
          %p Все правила для файла проверены. Начинается импорт.
          -i = 1
          -while i<xlsx.sheet(0).last_row
            -imp = nil
            -i = i + 1
            -if !xlsx.sheet(0).row(i)[0].nil?
              -imp = TestType.where("id = " + xlsx.sheet(0).row(i)[0].to_s).first
            -if imp.nil?
              -imp = TestType.new
            -imp.name = xlsx.sheet(0).row(i)[1]
            -imp.save
            -if !imp.id.nil? and !imp.name.nil?
              =imp.id
              %p
                = "Загружена строка №"
                = i.to_s
                = ". ID "
                = xlsx.sheet(0).row(i)[0]
                = ", наименование "
                = xlsx.sheet(0).row(i)[1]
                = ". "
            -else
              %p
                = "В строке №"
                = i.to_s
                = " что-то не заполнено."
        -else
          %p Заголовки не соответствуют формату загрузки сведений о статусах обработки ('ID', 'Статус обработки результата').
      -else
        %p В файле не 2 столбца.
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист.
-else
  %p Файл не найден

= link_to t('buttons.back'), test_types_path