%h1 Ошибка

-if current_user.admin?
  %p Пожалуйста, сообщите о данной ошибке на admin@edzsoft.ru с приложением следующего текста (не скриншотом):
  %p= request.referer
  %p= request.url
  %p= @exception
-else
  %p Вы не имеете прав на выполнение данных действий. Вернитесь к началу.
