%h4= t("anonce.edit.title")

= form_for @anonce do |f|
  .form-group
    %table
      %tr
        %td= t("anonce.published_at")
        %td= f.date_field :published_at,  placeholder: t('anonce.publish_date')
      %tr
        %td= t("anonce.name")
        %td= f.text_field :name, autofocus: false, placeholder: t("anonce.name"), class: 'form-control'
      %tr
        %td= t("anonce.description")
        %td= f.text_area :description, autofocus: false, placeholder: t("anonce.description"), class: 'form-control'
  .form-actions
    = f.submit @anonce.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t('buttons.cancel'), {:action => 'index'}