.anonces-count.clear
  =t("anonce.find_anonces")
  =@anonces.count

-if @anonces.count > 20
  .apple_pagination
    = will_paginate @anonces

%table.table.table-bordered
  %thead
    %th= t("anonce.published_at")
    %th= t("anonce.name")
    %th= t("anonce.description")
  %tbody
    - @anonces.each do |pr|
      %tr
        %td= pr.published_at
        %td= pr.name
        %td= pr.description[1..80]
        %td
          = link_to edit_anonce_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to anonce_path(pr), :method => :delete, :title => t("anonces.notice.delete_confirm"), data: {confirm: t("anonces.notice.are_you_sure")} do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @anonces.count > 20
  .apple_pagination
    = will_paginate @anonces