.row
  .span9
    %h3.pull-left= t("anonce.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag anonces_path, :method => 'get', :id => "anonce_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, Anonce
              = link_to new_anonce_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            -# - if can? :export, Anonce
            -#   = link_to anonces_export_path do
            -#     = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            -# - if can? :create, Anonce
            -#   = link_to new_anonces_import_path do
            -#     = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}