-if !@ege_participant_categorys.nil?
  %p
    = I18n.t :ege_participant_category, count: @ege_participant_categorys.count

-if @ege_participant_categorys.count > 20
  .apple_pagination
    = will_paginate @ege_participant_categorys

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      %th= t("ege_participant_categories.code")
      %th= t("ege_participant_categories.name")
      %th= t("ege_participant_categories.short_name")
      %th= t("ege_participant_categories.fisgia9code")
      %th= t("ege_participant_categories.fisgia11code")
      %th= t("ege_participant_categories.sort_by")
      -if current_user.admin?
        %th= t("ege_participant_categories.actions.title")
    %tbody
      - @ege_participant_categorys.each do |row|
        -if can? :read, row
          %tr
            %td= row.code.to_s
            %td= link_to row.name.to_s, ege_participant_category_path(row)
            %td= row.short_name
            %td= row.fisgia9code
            %td= row.fisgia11code
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_ege_participant_category_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to ege_participant_category_path(row), :method => :delete,  data: { confirm: t('ege_participant_categories.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @ege_participant_categorys.count > 20
  .apple_pagination
    = will_paginate @ege_participant_categorys