.row
  .span9
    %h3.pull-left
      .text3d= t("ege_participant_categories.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag ege_participant_categories_path, :method => 'get', :id => "ege_participant_categories_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, EgeParticipantCategory
              = link_to new_ege_participant_category_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, EgeParticipantCategory) and (can? :export, EgeParticipantCategory)
              =" | "
            - if can? :export, EgeParticipantCategory
              = link_to ege_participant_categories_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, EgeParticipantCategory) and (can? :import, EgeParticipantCategory)
              =" | "
            - if can? :import, EgeParticipantCategory
              = link_to new_ege_participant_categories_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}