-# -@id=params[:id]
%h1 Наименование проекта
%h2=@ou.name.to_s
%table
  %tr
    %td=t("ous.code")
    %td=@ou.code.to_s
  %tr
    %td=t("ous.full_name")
    %td=@ou.name
%div
  = link_to "Вернуться", ous_path, :class => "btn btn-primary btn-mini"