-require 'roo'

-file=params[:appeals_import]['file']

%h2
  = "Импорт сведения об апелляциях из Excel-файла :: "
  = file.original_filename
  = " ::"

-if !file.nil?
  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -if xlsx.sheets.count == 1
    -if xlsx.sheet(0).last_row > 1
      -if xlsx.sheet(0).last_column == 3
        - if xlsx.sheet(0).row(1)[0] == 'ID' and xlsx.sheet(0).row(1)[1] == 'Время апелляции' and xlsx.sheet(0).row(1)[2] == 'Ссылка на ВКС'
          %p Все правила для файла проверены. Начинается импорт.
          -i = 1
          -while i<xlsx.sheet(0).last_row
            -imp = nil
            -i = i + 1
            -if !xlsx.sheet(0).row(i)[0].nil?
              -imp = Appeal.where("id = " + xlsx.sheet(0).row(i)[0].to_s).first
              -imp.appeal_time = xlsx.sheet(0).row(i)[1]
              -imp.appeal_link = xlsx.sheet(0).row(i)[2]
              -imp.save
              %p
                = "Загружена строка №"
                = i.to_s
                = ". ID "
                = xlsx.sheet(0).row(i)[0]
                = ", время "
                = xlsx.sheet(0).row(i)[1]
                = ", ссылка "
                = xlsx.sheet(0).row(i)[2]
                = ". "
            -else
              %p
                = "В строке №"
                = i.to_s
                = " указана апелляция, которая не найдена на платформе."
        -else
          %p Заголовки не соответствуют формату загрузки сведений о статусах обработки ('ID', 'Время апелляции', 'Ссылка на ВКС').
      -else
        %p В файле не 3 столбца.
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист.
-else
  %p Файл не найден

= link_to t('buttons.back'), appeals_path

-#:appeal_type_id, :appeal_condition_id,
-#:test_type_id, :subject_id, :identifier, :examdate,
-#:appeal_station_id, :appeal_time, :appeal_link