%h1 Импорт сведений о дате/времени и ссылках для рассмотрения апелляций из Excel-файла
%p
  Помните: следует загружать только таблицы, соответствующие формату выгрузки.

%h3 Требования
%ul
  %li Вы должны проверить свой файл на соответствие требованиями к модели статуса обработки.
  %li Файл должен быть Excel, при этом содержать только столбцы 'ID', 'Время апелляции', 'Ссылка на ВКС'.
  %li При выполнении этих требований, файл может быть импортирован.
%h5 Выберите файл
= form_for @appeals_import do |f|
  - if @appeals_import.errors.any?
    = pluralize(@appeals_import.errors.count, "error")
    защита от неверного импорта таблиц.

    Пожалуйста, измените свою электронную таблицу и попробуйте снова.
    %ul
      - @appeals_import.errors.full_messages.each do |msg|
        %li= msg
  = f.file_field :file
  = f.submit t("buttons.import_file")

= link_to t('buttons.back'), appeals_path

-#:appeal_type_id, :appeal_condition_id,
-#:test_type_id, :subject_id, :identifier, :examdate,
-#:appeal_station_id, :appeal_time, :appeal_link