%h4= t("appeal_conditions.edit.title")

= form_for @appeal_condition do |f|
  .form-group
    -# = f.number_field :code, autofocus: true, placeholder: 'Код', class: 'form-control'
    = f.text_field :name, autofocus: true, placeholder: t('appeal_conditions.edit.placeholder'), class: 'form-control'
  .form-actions
    = f.submit @appeal_condition.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t('buttons.cancel'), {:action => 'index'}
