.results-count.clear
  =t("messages.search.find_results")
  =@appeal_conditions.count

-if @appeal_conditions.count > 20
  .apple_pagination
    = will_paginate @appeal_conditions

%table.table.table-bordered
  %thead
    %th= t("appeal_conditions.id")
    -#%th= t("appeal_conditions.code")
    %th= t("appeal_conditions.name")
    %th= t("appeal_conditions.actions.title")
  %tbody
    - @appeal_conditions.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= best_in_place pr, :name, :as => :input
        %td
          = link_to edit_appeal_condition_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to appeal_condition_path(pr), :method => :delete, :title => t("buttons.delete") do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @appeal_conditions.count > 20
  .apple_pagination
    = will_paginate @appeal_conditions