-require 'roo'

-file=params[:appeal_stations_import]['file']

%h2
  = "Импорт пунктов проведения апелляций из Excel-файла :: "
  = file.original_filename
  = " ::"

-if !file.nil?
  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -if xlsx.sheets.count == 1
    -if xlsx.sheet(0).last_row > 1
      -if xlsx.sheet(0).last_column == 4
        - if xlsx.sheet(0).row(1)[0] == 'ID' and xlsx.sheet(0).row(1)[1] == 'Орган управления образованием' and xlsx.sheet(0).row(1)[2] == 'Пункт' and xlsx.sheet(0).row(1)[3] == 'Адрес пункта'
          %p Все правила для файла проверены. Начинается импорт.
          -i = 1
          -while i<xlsx.sheet(0).last_row
            -imp = nil
            -i = i + 1
            -if !xlsx.sheet(0).row(i)[0].nil?
              -imp = AppealStation.where("id = " + xlsx.sheet(0).row(i)[0].to_s).first
            -if imp.nil?
              -imp = AppealStation.new
            -mouo_id = Mouo.where(:name => xlsx.sheet(0).row(i)[1].to_s).first
            -if !mouo_id.nil?
              -imp.mouo_id=mouo_id.id
            -imp.name = xlsx.sheet(0).row(i)[2].to_s
            -imp.address = xlsx.sheet(0).row(i)[3].to_s
            -imp.save
            =imp
            -if !imp.id.nil? and !imp.name.nil? and !imp.mouo_id.nil? and !imp.address.nil?
              =imp.id
              %p
                = "Загружена строка №"
                = i.to_s
                = ". ID "
                = xlsx.sheet(0).row(i)[0]
                = ", наименование "
                = xlsx.sheet(0).row(i)[1]
                = ". "
            -else
              %p
                = "В строке №"
                = i.to_s
                = " что-то не заполнено."
        -else
          %p Заголовки не соответствуют формату загрузки сведений о статусах обработки ('ID', 'Орган управления образованием', 'Пункт', 'Адрес пункта').
      -else
        %p В файле не 4 столбца.
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист.
-else
  %p Файл не найден

= link_to t('buttons.back'), appeal_stations_path