-if !@answer_types.nil?
  %p
    = I18n.t :answer_type, count: @answer_types.count

-if @answer_types.count > 20
  .apple_pagination
    = will_paginate @answer_types

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
-#
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("answer_types.name")
      -if current_user.admin?
        %th= t("answer_types.actions.title")
    %tbody
      - @answer_types.each do |row|
        -if can? :read, row
          %tr
            %td
              = best_in_place_if can?(:edit, AnswerType), row, :name, type: :input
            -#%td= best_in_place_if (can? :edit, @answer_types), row, :name, :as => :inputs
            %td
              - if can? :edit, row
                = link_to edit_answer_type_path(row) do
                  = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
              =" "
              - if can? :delete, row
                = link_to answer_type_path(row), :method => :delete,  data: { confirm: t('answer_types.delete_confirm')} do
                  = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @answer_types.count > 20
  .apple_pagination
    = will_paginate @answer_types