#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@answer_type.name.to_s



%table
  %tr
    %th= t("answer_types.name")
    %td= best_in_place_if (can? :edit, @answer_type), @answer_type, :name, :as => :inputs
%div
  %hr
    = link_to answer_types_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку  "
