@import url(dropzone/dist/min/dropzone.min.css);
@import url(dropzone/dist/min/basic.min.css);
/* line 4, app/assets/stylesheets/_form.scss */
.input {
  @apply appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight;
}

/* line 8, app/assets/stylesheets/_form.scss */
.input:focus {
  @apply outline-none bg-white border-gray-400;
}

/* line 12, app/assets/stylesheets/_form.scss */
.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

/* line 16, app/assets/stylesheets/_form.scss */
.select {
  @apply appearance-none py-3 px-4 pr-8 block w-full bg-gray-100 border border-gray-300 text-gray-700
  rounded leading-tight;
  -webkit-appearance: none;
}

/* line 22, app/assets/stylesheets/_form.scss */
.select:focus {
  @apply outline-none bg-white border-gray-400;
}

/* line 26, app/assets/stylesheets/_form.scss */
.dropzone {
  @apply border-2 rounded-lg border-gray-400 border-dashed;
}

/* line 29, app/assets/stylesheets/_form.scss */
.dropzone.dz-drag-hover {
  @apply border-2 rounded-lg border-gray-200 border-dashed;
}

/* line 32, app/assets/stylesheets/_form.scss */
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.9;
}
