.results-count.clear
  =t("messages.search.find_results")
  =@test_types.count
%table.table.table-bordered
  %thead
    %th= t("test_types.id")
    -#%th= t("test_types.code")
    %th= t("test_types.name")
    %th= t("test_types.actions.title")
  %tbody
    - @test_types.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= link_to pr.name.to_s, test_type_path(pr)
        %td
          = link_to edit_test_type_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to test_type_path(pr), :method => :delete, :title => t("test_types.notice.delete_confirm") + ' ' + pr.name.to_s, data: {confirm: t("test_types.notice.are_you_sure")} do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @test_types.count > 20
  .apple_pagination
    = will_paginate @test_types