.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h2.text-center=t("devise.passwords.new.send_me_reset_password_instructions")
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      %br/
      %p.text-center=t("devise.mailer.unlock_instructions.instruction_to_send")

      .form-group
        = f.email_field :email, autofocus: true, placeholder: t("activerecord.attributes.user.email"), class: 'form-control'
      .form-group
        = f.submit t("devise.passwords.new.send_me_reset_password_instructions"), class: 'btn btn-primary btn-block btn-lg'
    .text-center
      = render "devise/shared/links"
