%h4= t("appeal_stations.edit.title")

-@mouos=Mouo.all

= form_for @appeal_station do |f|
  .form-group
    -# = f.number_field :code, autofocus: true, placeholder: 'Код', class: 'form-control'
    %p=t('appeal_stations.edit.placeholder_mouo')
    %p
      = f.collection_select :mouo_id, @mouos, :id, :name, prompt: true, placeholder: t('appeal_stations.edit.choose_mouo')

    %p=t('appeal_stations.edit.placeholder')
    %p
      = f.text_field :name, autofocus: true, placeholder: t('appeal_stations.edit.placeholder'), class: 'form-control'
    %p=t('appeal_stations.edit.placeholder_address')
    %p
      = f.text_field :address, autofocus: true, placeholder: t('appeal_stations.edit.placeholder_address'), class: 'form-control'
  .form-actions
    = f.submit @appeal_station.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t('buttons.cancel'), {:action => 'index'}
