.results-count.clear
  =t("messages.search.find_results")
  =@appeal_stations.count

-if @appeal_stations.count > 20
  .apple_pagination
    = will_paginate @appeal_stations

%table.table.table-bordered
  %thead
    %th= t("appeal_stations.id")
    %th= t("appeal_stations.mouo")
    %th= t("appeal_stations.name")
    %th= t("appeal_stations.address")
    %th= t("appeal_stations.actions.title")
  %tbody
    - @appeal_stations.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= best_in_place pr, :mouo_id, :as => :select, collection:Mouo.pluck(:id, :name).uniq.map { |g| Array.new(g) }
        %td= best_in_place pr, :name, :as => :input
        %td= best_in_place pr, :address, :as => :input
        %td
          = link_to edit_appeal_station_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to appeal_station_path(pr), :method => :delete, :title => t("buttons.delete") do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @appeal_stations.count > 20
  .apple_pagination
    = will_paginate @appeal_stations