.row
  .span9
    %h3.pull-left= t("appeal_stations.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag appeal_stations_path, :method => 'get', :id => "appeal_station_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(station: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, AppealStation
              = link_to new_appeal_station_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            - if can? :export, AppealStation
              = link_to appeal_stations_export_path do
                = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            - if can? :create, AppealStation
              = link_to new_appeal_stations_import_path do
                = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}