%footer.footer.text-muted.bg-light
  .container
    %span
      ="©"
      ="#{Date.today.year} РЦОКО ЯНАО"
    %ul.list-inline.mb-0.float-right
      %li.list-inline-item.mr-3= link_to t("navigation.help"), help_path
      %li.list-inline-item.mr-3= link_to t("navigation.privacy"), privacy_path
      %li.list-inline-item.mr-3
        = link_to 'https://edzsoft.ru' do
          = image_tag('edzsoft.ico', size: "14")
