- if user_masquerade?
  .alert.alert-warning.text-center
    Вы вошли в систему как
    %b
      = current_user.name
      (#{current_user.email})
    = link_to back_masquerade_path(current_user) do
      = icon("fas", "times")
      Выйти
%nav.navbar.navbar-expand-md.navbar-light.bg-light
  .container
    .text3d
      = link_to root_path, class: "navbar-brand" do
        = image_tag('gia.png', size: "34")
      ="Сервис просмотра результатов и бланков ОГЭ"
    %button.navbar-toggler{"aria-controls" => "navbarsExample04", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarMain", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarMain.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.mt-2.mt-md-0
      %ul.navbar-nav
        %li.nav-item= link_to t("navigation.announcements"), announcements_path, class: "nav-link #{unread_announcements(current_user)}"
        - if user_signed_in?
          -# - if current_user.admin?
          -#   %li.nav-item.dropdown
          -#     = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
          -#       = bootstrap_icon "file-earmark-person", width: 15, height: 15, fill: "green"
          -#       = t("navigation.appeals")
          -#     #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
          -#       = link_to t("navigation.appeals_list"), appeals_path, class: "dropdown-item"
          -#       .dropdown-divider
          -#       = link_to t("navigation.appeal_stations"), appeal_stations_path, class: "dropdown-item"
          -#       = link_to t("navigation.appeal_conditions"), appeal_conditions_path, class: "dropdown-item"
          -#       = link_to t("navigation.appeal_types"), appeal_types_path, class: "dropdown-item"
          - if current_user.admin?
            %li.nav-item.dropdown
              = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
                = bootstrap_icon "tools", width: 15, height: 15, fill: "green"
                = t("navigation.results")
              #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
                = link_to t("navigation.answers"), answers_path, class: "dropdown-item"
                = link_to t("navigation.diagnostic_results"), results_path, class: "dropdown-item"
                = link_to t("navigation.user_test_types"), user_test_types_path, class: "dropdown-item"
                -#.dropdown-divider
                -#= link_to t("navigation.teacher_statements"), teacher_statements_path, class: "dropdown-item"
                .dropdown-divider
                = link_to t("navigation.test_types"), test_types_path, class: "dropdown-item"
                = link_to t("navigation.process_conditions"), process_conditions_path, class: "dropdown-item"
                = link_to t("navigation.subjects"), subjects_path, class: "dropdown-item"
                .dropdown-divider
                = link_to t("navigation.task_specifications"), task_specifications_path, class: "dropdown-item"
                = link_to t("navigation.task_recomendations"), task_recomendations_path, class: "dropdown-item"
                = link_to t("navigation.show_blanks"), show_blanks_path, class: "dropdown-item"

          - if current_user.blank_role?
            %li.nav-item.dropdown
              = link_to show_blanks_path, id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
                = bootstrap_icon "stickies", width: 15, height: 15, fill: "green"
                = t("navigation.show_blanks")
              #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
                = link_to t("navigation.show_blanks"), show_blanks_path, class: "dropdown-item"
          -# - if current_user.admin?
          -#   %li.nav-item.dropdown
          -#     = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
          -#       = bootstrap_icon "building", width: 15, height: 15, fill: "green"
          -#       = t("navigation.region_dictionaries")
          -#     #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
          -#       = link_to t("navigation.ous"), ous_path, class: "dropdown-item"
          -#       = link_to t("navigation.ates"), ates_path, class: "dropdown-item"
          -#       = link_to t("navigation.mouos"), mouos_path, class: "dropdown-item"
          -#       .dropdown-divider
          -#       %p="Информация для заявлений"
          -#       = link_to "Типы документов", document_types_path, class: "dropdown-item"
          -#       = link_to "Гражданство", citizenships_path, class: "dropdown-item"
          -#       = link_to "Регионы", regions_path, class: "dropdown-item"
          -#       = link_to "Категории участников", ege_participant_categories_path, class: "dropdown-item"
          -#       = link_to "Этапы ЕГЭ", exam_waves_path, class: "dropdown-item"
          -#       = link_to "Даты ЕГЭ", exams_path, class: "dropdown-item"
          -#       = link_to "Заявления на ЕГЭ", ege_statements_path, class: "dropdown-item"
          -#       = link_to "Места регистрации на ЕГЭ", registration_places_path, class: "dropdown-item"
          -#       .dropdown-divider
          -#       %p="Информация для онлайн-тестирований"
          -#       = link_to "Типы вопросов", question_types_path, class: "dropdown-item"
          -#       = link_to "Типы ответов", answer_types_path, class: "dropdown-item"
          -#       = link_to "Предметы", answer_types_path, class: "dropdown-item"
          -#
          -# %li.nav-item.dropdown
          -#   = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
          -#     = bootstrap_icon "building", width: 15, height: 15, fill: "green"
          -#     = "ГИА-2022"
          -#   #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
          -#     = link_to "Заявления на ЕГЭ", ege_statements_path, class: "dropdown-item"

          %li.nav-item.dropdown
            - if current_user.admin?
              = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do
                -if !avatar_path(current_user).nil?
                  = image_tag avatar_path(current_user, size: 40), height: 20, width: 20, class: "rounded"
                -else
                  = bootstrap_icon "user", width: 15, height: 15, fill: "blue"
            #nav-account-dropdown.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbar-dropdown"}
              -# - if current_user.admin? && respond_to?(:admin_root_path)
              -#   = link_to t("navigation.admin_area"), admin_root_path, class: "dropdown-item"
              -# = link_to t("navigation.settings"), edit_user_registration_path, class: "dropdown-item"
              - if current_user.admin?
                = link_to t("navigation.anonces"), anonces_path, class: "dropdown-item"

              .dropdown-divider
              = link_to t("navigation.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item"
            -if !current_user.admin?
              %li.nav-item= link_to t("navigation.logout"), destroy_user_session_path, class: "nav-link"
        - else
          -#%li.nav-item= link_to t("navigation.signup"), new_user_registration_path, class: "nav-link"
          %li.nav-item= link_to t("navigation.login"), new_user_session_path, class: "nav-link"

-#registration_places
-#citizenships
-#document_types
-#ege_participant_categories
-#regions
-#exam_waves
-#exams
-#ege_statements