%body
  .lead
    - flash.each do |msg_type, message|
      %div{:class => "alert #{bootstrap_class_for(msg_type)}"}
        .container
          %button.close{"data-dismiss" => "alert"}
            %span ×
          = message
