#filterrific_results
  .apple_pagination
    = will_paginate @results

  %div
    ="Найдено #{@results.count} работ."

  %table.table-bordered
    %tr
      %th="Тип тестирования"
      %th="Предмет"
      %th="Результат"
      %th="Результат части 2"
      %th="Код работы"
    - @results.each do |rrr|
      %tr
        %td=rrr.test_type
        %td=rrr.subject
        %td=rrr.mark100
        %td=rrr.testresultc
        %td
          =link_to rrr.blank_2.to_s, '/show_blank/' + rrr.blank_2.to_s
