- if user_signed_in?
  -if current_user.blank_role? or current_user.admin?
    -test_types_def=nil
    -subjects_def=nil
    -blank_number_def=nil
    -if !params[:filterrific].nil?
      -if !params[:filterrific][:results_params].nil?
        -test_types_def=params[:filterrific][:results_params][:test_types]
        -subjects_def=params[:filterrific][:results_params][:subjects]
    -if !@filterrific.nil?
      -if !@filterrific.results_params.nil?
        -test_types_def=@filterrific.results_params.test_types
        -subjects_def=@filterrific.results_params.subjects

    .filterrific-periodically-observed
      = form_for_filterrific @filterrific do |f|
        %table
          %tr
            %td
              ="Параметры"
              %br
              ="Найти"
              = f.text_field(:search_query, class: 'filterrific-periodically-observed')
              %br
              = f.fields_for :results_params do |results_params_fields|
                %br
                ="Тип тестирования"
                =results_params_fields.collection_select :test_types, @test_types, :id, :name, { include_blank: '- Любой -', include_hidden: false , :selected => test_types_def}, multiple: false
                %br
                ="Предметы"
                =results_params_fields.collection_select :subjects, @subjects, :id, :subject_name, { include_blank: '- Любой -', include_hidden: false, :selected => subjects_def}, multiple: false
              %br
              = link_to('Сбросить фильтр', reset_filterrific_url)
              =f.submit 'Применить фильтр'
        = "Списки работ"
        %br
        = render_filterrific_spinner
        = render :partial => 'list', :locals => {:legend => t(".title")}
  -else
    = controller.redirect_to root_path
-else
  = controller.redirect_to root_path