-@id=params[:id]
-if @id.nil?
  = controller.redirect_to "/users/sign_in"
-else
  -rr=Result.where("blank_2 = '" + @id.to_s + "'")
  -if rr.nil?
    = controller.redirect_to "/users/sign_in"
  -else
    -if rr.count > 0
      -rr = rr.first
      %h6
        =rr.test_type.name.to_s
        =rr.subject.subject_name.to_s
      -pdffile="/uploads/"+rr.test_type.to_s+'/'+rr.examdate.to_s+"/"+rr.subject.subject_name.to_s+"/"+rr.blank_2.to_s+".pdf"
      -if File.exist?("#{Rails.public_path}#{pdffile}")
        %iframe{:frameborder => "0", :height => "700", :scrolling => "no", :src => "/pdfjs/web/viewer.html?file="+pdffile, :style => "border: 0", :width => "100%"}
      -else
        %p="Работа с данным кодом найдена, но бланки ещё не опубликованы."
    -else
      %p="Работа с данным кодом в базе данных не найдена. Проверьте правильность написания."
  %hr
  %p
    = link_to t("buttons.back"), root_path, :class => "btn btn-primary btn-mini"