-sql = "select r.examdate, sj.subject_name, count(distinct(r.identifier)) as c1, ts.cnt as c2, tss.cnt as c3,  			coalesce(ans_sovp.cnt_idents, 0) as cnt_idents  	from results r  	join subjects sj ON sj.id = r.subject_id  	left join (select ts.test_type_id, ts.subject_id, count(distinct(ts.id)) as cnt   			   	from task_specifications ts  			   	join action_text_rich_texts t ON t.record_id = ts.id and t.record_type = 'TaskSpecification'  			   		and t.name = 'competention_type' and t.body = 'Краткие ответы'  			   	group by ts.test_type_id, ts.subject_id)   					ts ON ts.test_type_id = r.test_type_id and ts.subject_id = r.subject_id  	left join (select ts.test_type_id, ts.subject_id, count(distinct(ts.id)) as cnt   			   	from task_specifications ts  			   	join action_text_rich_texts t ON t.record_id = ts.id and t.record_type = 'TaskSpecification'  			   		and t.name = 'competention_type' and t.body <> 'Краткие ответы'  			   	group by ts.test_type_id, ts.subject_id)   					tss ON tss.test_type_id = r.test_type_id and tss.subject_id = r.subject_id  	left join (  			select ans.test_type_id, ans.examdate, ans.subject_id, ans.cnt, count(distinct(ans.identifier)) cnt_idents  			from (  			SELECT test_type_id, examdate, subject_id, identifier, count(task_number) as cnt  				FROM public.answers  			group by test_type_id, examdate, subject_id, identifier) ans  		group by ans.test_type_id, ans.examdate, ans.subject_id, ans.cnt  	) ans_sovp ON ans_sovp.test_type_id = r.test_type_id and ans_sovp.subject_id = r.subject_id  			and ans_sovp.examdate = r.examdate and ans_sovp.cnt = ts.cnt  group by r.examdate, sj.subject_name, ts.cnt, tss.cnt, ans_sovp.cnt_idents  order by r.examdate, sj.subject_name"
-records_array = ActiveRecord::Base.connection.execute(sql)

%h6="Сведения о загруженных результатах"
%table.table-bordered.table-striped.styled-table{:style=>"width:100%;"}
  %thead
    %tr
      %th{:rowspan=>2}
        %center
          ="Дата экзамена"
      %th{:rowspan=>2}
        %center
          ="Предмет"
      %th{:rowspan=>2}
        %center
          ="Количество результатов"
      %th{:colspan=>2}
        %center
          ="Спецификация"
      %th{:rowspan=>2}
        %center
          ="Верно загруженных кратких ответов"
    %tr
      %th
        %center
          ="Кратких ответов"
      %th
        %center
          ="Экспертных отметок"
  %tbody
    -records_array.each do |ra|
      %tr
        %td
          %center
            =ra['examdate']
        %td
          =ra['subject_name']
        %td
          %center
            =ra['c1']
        %td
          %center
            =ra['c2']
        %td
          %center
            =ra['c3']
        -if ra['cnt_idents'] == ra['c1'] or ra['subject_name'].split(//).last(5).join("").to_s == '(ГВЭ)' or ra['subject_name'] == 'Литература'
          %td
            %center
              =ra['cnt_idents']
        -else
          %td{:bgcolor=>'red'}
            %center
              =ra['cnt_idents']
