-@id=params[:id]
-#%h1=@id.to_s
-if @id.nil?
  = controller.redirect_to "/users/sign_in"
-else
  -rr=Result.find(@id.to_i)
  -if rr.nil?
    = controller.redirect_to "/users/sign_in"
  -else
    -@tsp=TaskSpecification.where(:test_type_id=>rr.test_type_id).where(:subject_id=>rr.subject_id).order("task_number ASC")
    %h5="Результат"
    %table
      %tr
        %th=t("test_types.full_name")
        %td=rr.test_type.name
      %tr
        %th=t("subjects.name")
        %td=rr.subject.subject_name
      %tr
        %th=t("results.testresulta")
        %td=rr.testresulta
      %tr
        %th=t("results.mark100")
        %td=rr.mark100
    %table
      %tr
        %th="№ задания"
        %th="Тип компетенций"
        %th="Компетенция"
        %th="Проверяемые знания/умения"
        %th="Максимальный балл"
        %th="Полученный балл"
      - i = 0
      - @tsp.each do |t|
        %tr
          - i = i + 1
          %td= i.to_s
          %td= t.competention_type.to_s
          %td= t.competention_name.to_s
          %td= t.zun_name.to_s
          %td= t.max_ball.to_s
          %td= rr.testresulta.gsub(' ', '')[i-1]

%p
  = link_to 'Подать заявку на разработку индивидуального образовательного маршрута', 'https://forms.gle/YTPRvpnT761AQqY57'
%hr
%p
  = link_to t("buttons.back"), root_path, :class => "btn btn-primary btn-mini"