-@id=params[:id]
-#%h1=@id.to_s
-if @id.nil?
  = controller.redirect_to "/users/sign_in"
-else
  -rr=Result.find(@id.to_i)
  -if rr.nil?
    = controller.redirect_to "/users/sign_in"
  -else
    -@tsp=TaskSpecification.where(:test_type_id=>rr.test_type_id).where(:subject_id=>rr.subject_id).order("task_number ASC")
    %h5="Результат ЕГЭ(ГВЭ)-2021"
    %table.table.table-bordered
      %tr
        %th=t("subjects.name")
        %td=rr.subject.subject_name
      %tr
        %th=t("results.process_condition")
        %td=rr.process_condition.to_s
      -if rr.subject.subject_name.to_s.last(5) != '(ГВЭ)'
        %tr
          %th=t("results.testresultb")
          %td=rr.testresultb.gsub('x', '')
      %tr
        %th=t("results.testresultc")
        %td=rr.testresultc
      -if rr.subject.code == 29 or rr.subject.code == 30 or rr.subject.code == 31 or rr.subject.code == 33 or rr.subject.code == 34 or rr.subject.code == 9 or rr.subject.code == 10 or rr.subject.code == 11 or rr.subject.code == 13 or rr.subject.code == 14
        %tr
          %th=t("results.testresultd")
          %td=rr.testresultd
      %tr
        %th=t("results.primarymark")
        %td=rr.primarymark
      %tr
        %th=t("results.mark100")
        %td=rr.mark100

    -jj = 0
    -@answers=Answer.where(:test_type_id=>rr.test_type_id).where(:subject_id=>rr.subject_id).where(:identifier=>rr.identifier).where(:examdate=>rr.examdate).order("task_number ASC")
    -if !@answers.nil?
      -if @answers.count > 0
        %h5 Бланк ответов №1
        %table.table.table-bordered
          %tr
            %th="№ ответа"
            %th="Задание"
            %th="Ответ"
            %th="Замена ответа"
            %th{:colspan=>2}="Маска ответа"
          - @answers.each do |t|
            %tr
              -jj = jj + 1
              %td
                = t.task_number.to_s
              %td
                -if !@tsp[jj-1].nil?
                  = @tsp[jj-1].zun_name.to_s
                -else
                  = ""
              %td
                = t.answer_value.to_s
              %td= t.replace_value.to_s
              %td
                -if rr.testresultb.gsub(' ', '')[jj-1] != 'x'
                  = rr.testresultb.gsub(' ', '')[jj-1]
                -else
                  = ""
              %td
                -if rr.testresultb.gsub(' ', '')[jj-1] == '-' or rr.testresultb.gsub(' ', '')[jj-1] == '0'
                  = bootstrap_icon "x-square", width: 15, height: 15, fill: "red"
                -else
                  -if rr.testresultb.gsub(' ', '')[jj-1] == 'x'
                    =""
                  -else
                    = bootstrap_icon "check2-square", width: 15, height: 15, fill: "green"

    %h5 Отметки по бланкам со свободными ответами (экспертной оценкой)
    %table.table.table-bordered
      %tr
        %th="№ критерия"
        %th="Критерий"
        %th="Содержание критерия"
        %th="Балл по критерию"
        %th="Максимальный балл по критерию"
      -trc=rr.testresultc.to_s.split(')')
      -for i in (1..trc.count()).step(1) do
        %tr
          %td=i.to_s
          -jj=jj+1
          %td
            -if !@tsp[jj-1].nil?
              = @tsp[jj-1].competention_name.to_s
            -else
              = ""
          %td
            -if !@tsp[jj-1].nil?
              = @tsp[jj-1].zun_name.to_s
            -else
              = ""
          %td=trc[i-1].to_s.split('(')[0]
          %td=trc[i-1].to_s.split('(')[1]

    -if !rr.testresultd.nil?
      %h5 Отметки по устной (практической) части
      %table.table.table-bordered
        %tr
          %th="№ критерия"
          %th="Критерий"
          %th="Содержание критерия"
          %th="Балл по критерию"
          %th="Максимальный балл по критерию"
        -trc=rr.testresultd.to_s.split(')')
        -for i in (1..trc.count()).step(1) do
          %tr
            %td=i.to_s
            -jj= jj + 1
            %td
              -if !@tsp[jj-1].nil?
                = @tsp[jj-1].competention_name.to_s
              -else
                = ""
            %td
              -if !@tsp[jj-1].nil?
                = @tsp[jj-1].zun_name.to_s
              -else
                = ""
            %td=trc[i-1].to_s.split('(')[0]
            %td=trc[i-1].to_s.split('(')[1]

  -# =rr.examdate.to_s
  -# =rr.subject.to_s
  -# =rr.blank_2.to_s
  -pdffile="/uploads/blanks/"+rr.test_type.to_s+'/'+rr.examdate.to_s+"/"+rr.subject.subject_name.to_s+"/"+rr.blank_2.to_s+".pdf"
  -# =pdffile
  -if File.exist?("#{Rails.public_path}#{pdffile}")
    %iframe{:frameborder => "0", :height => "700", :scrolling => "no", :src => "/pdfjs/web/viewer.html?file="+pdffile, :style => "border: 0", :width => "100%"}
  -else
    %p="Бланки ещё не опубликованы, проверьте немного позднее."
%hr
%p
  = link_to t("buttons.back"), root_path, :class => "btn btn-primary btn-mini"
