-oo = Ou.where(:code => current_user.target_id).first
%h4=oo.name
%table
  %tr
    %th= "Наименование ОО: "
    %td= best_in_place oo, :name, :as => :input
  %tr
    %th= "ФИО для контакта: "
    %td= best_in_place oo, :contact_fio, :as => :input
  %tr
    %th= "Телефон для контакта: "
    %td= best_in_place oo, :contact_phone, :as => :input

-@appeals = Appeal.accessible_by(current_ability)

-@list = false
%hr
.row
  .span9
    %h3.pull-left= t("appeals.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag appeals_path, :method => 'get', :id => "appeal_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, Appeal
              = link_to new_appeal_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            - if can? :export, Appeal
              = link_to appeals_export_path do
                = bootstrap_icon "download", width: 15, height: 15, fill: "blue"

    %span.marks-filter-target
      = render :partial => 'appeals/list', :locals => {:legend => t(".title")}