%h5.center-block График предоставления результатов экзаменов участников ГИА-9

%table.table.table-bordered
  %tr
    %th Дата экзамена
    %th Предмет
    %th День объявления результатов
    -#%th Приём апелляций
  %tr
    %td 24 мая (понедельник), 25 мая (вторник)
    %td Русский язык
    %td 7 июня (понедельник)
    -#%td 8-9 июня
  %tr
  %tr
    %td 27 мая (четверг), 28 мая (вторник)
    %td Математика
    %td 9 июня (среда)
    -#%td 10-11 июня

%h5.center-block График предоставления результатов экзаменов участников ГВЭ (для не поступающих в вузы)

%table.table.table-bordered
  %tr
    %th Дата экзамена
    %th Предмет
    %th День объявления результатов
    %th Приём апелляций
  %tr
    %td 25 мая (вторник)
    %td Русский язык
    %td 8 июня (вторник)
    %td 9-10 июня
  %tr
    %td 28 мая (вторник)
    %td Математика
    %td 8 июня (вторник)
    %td 9-10 июня
  %tr
    %td 08 июня (вторник)
    %td Русский язык
    %td 24 июня (вторник)
    %td 25-28 июня
  %tr
    %td 16 июня (среда)
    %td Математика
    %td 30 июня (среда)
    %td 1-2 июля

%h5.center-block График предоставления результатов экзаменов участников ЕГЭ и подачи апелляций о несогласии с выставленными баллами в основной период в 2021 году
%p.align-content-center (в соответствии с графиками обработки результатов экзаменационных работ и обработки апелляций, направленными письмом Федеральной службы по надзору в сфере образования и науки от 19.05.2021 No 10-184)


%table.table.table-bordered
  %tr
    %th Дата экзамена
    %th Предмет
    %th День объявления результатов
    %th Приём апелляций
  %tr
    %td 31 мая (понедельник)
    %td география, литература, химия
    %td 17 июня (четверг)
    %td 21 июня (понедельник)
  %tr
    %td 3 июня (четверг)
    %td русский язык
    %td 22 июня (вторник)
    %td 24 июня (четверг)
  %tr
    %td 4 июня (пятница)
    %td русский язык
    %td 23 июня (среда)
    %td 25 июня (пятница)
  %tr
    %td 7 июня (понедельник)
    %td математика (профильный уровень)
    %td 23 июня (среда)
    %td 25 июня (пятница)
  %tr
    %td 11 июня (пятница)
    %td история, физика
    %td 28 июня (понедельник)
    %td 30 июня (среда)
  %tr
    %td 15 июня (вторник)
    %td обществознание
    %td 30 июня (среда)
    %td 2 июля (пятница)
  %tr
    %td 18 июня (пятница)
    %td биология
    %td 5 июля (понедельник)
    %td 7 июля (среда)
  %tr
    %td 18 июня (пятница)
    %td иностранные языки (письменно)
    %td 7 июля (среда)
    %td 9 июля (пятница)

  %tr
    %td
      ="21 июня (понедельник)"
      %br
      ="22 июня (вторник)"
    %td иностранные языки (устно)
    %td 7 июля (среда)
    %td 9 июля (пятница)
  %tr
    %td
      ="24 июня (четверг)"
      %br
      ="25 июня (пятница)"
    %td информатика и ИКТ (К-ЕГЭ)
    %td 8 июля (четверг)
    %td не проводится
  %tr
    %td 28 июня (понедельник)
    %td резерв: география, литература, биология, история, русский язык, иностранные языки (устно)
    %td 14 июля (среда)
    %td 16 июля (пятница)
  %tr
    %td 29 июня (вторник)
    %td резерв: обществознание, химия, физика, иностранные языки (письменно), математика (профильный уровень), информатика и ИКТ (К-ЕГЭ)
    %td 14 июля (среда)
    %td 16 июля (пятница)
  %tr
    %td 2 июля (пятница)
    %td резерв: по всем учебным предметам
    %td 14 июля (среда)
    %td 16 июля (пятница), кроме К-ЕГЭ