-@user_results=Result.joins("join user_test_types utt ON utt.test_type_id = results.test_type_id and utt.identifier = results.identifier join test_types tt ON tt.id = utt.test_type_id and tt.id = results.test_type_id join subjects sj ON sj.id = results.subject_id join users u ON u.id = utt.user_id").where("u.id = " + current_user.id.to_s).order("results.test_type_id ASC, results.examdate ASC" )

-if !@user_results.nil?
  -# ="Найдено"
  -# =@user_results.count
  -# ="записей о результатах"
  -@test_types = @user_results.map(&:test_type_id).uniq
  -test_type = nil

  -@test_types.each do |tt|
    %h6=TestType.find(tt).name.to_s
    %table.table.table-bordered
      %thead
        %th= t("results.examdate")
        %th= t("results.subject")
        %th= t("results.station")
        %th= t("results.mark100")
        %th= t("results.process_condition")
        %th= t("results.advanced")
      %tbody
        -@user_results.where(:test_type_id=>tt).each do |rr|
          %tr
            %td= rr.examdate.to_s
            %td= rr.subject.subject_name
            %td= rr.station
            -if rr.process_condition.name.to_s != 'Результат отсутствует'
              %td= rr.mark100
            -else
              %td= '-'
            %td= rr.process_condition.to_s
            -if rr.process_condition.name.to_s != 'Результат отсутствует'
              %td
                = link_to 'show_result/' + rr.id.to_s do
                  = bootstrap_icon "file-earmark-richtext", width: 15, height: 15, fill: "green"
                  = "подробнее"
                -@appeal = Appeal.where(:test_type=>rr.test_type).where(:subject=>rr.subject).where(:identifier=>rr.identifier.downcase)
                -if !@appeal.nil?
                  -@appeal.each do |a|
                    %br
                    =link_to 'show_appeals/' + a.id.to_s do
                      = bootstrap_icon "chat-left-text", width: 15, height: 15, fill: "red"
                      = "апелляция (перепроверка)"
                -@recom = TaskRecomendation.where(:test_type=>rr.test_type).where(:subject=>rr.subject)
                -if !@recom.nil?
                  -if @recom.count > 0
                    %br
                    =link_to 'show_recomendations/' + rr.id.to_s do
                      = bootstrap_icon "stickies", width: 15, height: 15, fill: "red"
                      = "рекомендации"
            -else
              %td= '-'
-else
  ="Результатов не найдено"