%body
  .digg_pagination
    %h1 Помощь
    %p Данный сайт предназначен для просмотра результатов ГИА.
    %p Для этого следует в поле "Фамилия" ввести только фамилию участника, а в поле "Номер документа" - только номер документа.
    %p
      %i
        Например, для Иванова Ивана Ивановича с паспортом 1111 123456 следует ввести только "Иванов" и "123456"
    %p
      По вопросам публикации можно обратиться через email: aiuanufriev@yanao.ru, skhgizatullin@yanao.ru.