- if !user_signed_in?
  = controller.redirect_to "/users/sign_in"
- else
  -if current_user.admin?
    = render :partial => 'dashbrd', :locals => {:legend => t(".title")}
  -elsif current_user.dpo_role? and !current_user.ous_role?
    = controller.redirect_to "/teacher_statements/"
  -elsif current_user.ous_role?
    -if current_user.target_type == 1
      = render :partial => 'ous_homepage', :locals => {:legend => t(".title")}
  -elsif current_user.mouo_role?
    -if current_user.target_type == 2
      = controller.redirect_to "/appeals/"
  -else
    = render :partial => 'results', :locals => {:legend => t(".title")}
