-@id=params[:id]
-#%h1=@id.to_s
-if @id.nil?
  = controller.redirect_to "/users/sign_in"
-else
  -rr=Result.where(:id => @id.to_i).first
  -if rr.nil?
    = controller.redirect_to "/users/sign_in"
  -else
    -asd = UserTestType.where("test_type_id = " + rr.test_type_id.to_s).where(:identifier=>rr.identifier).first
    -if asd.nil?
      = controller.redirect_to "/users/sign_in"
    -else
      -if asd.user_id != current_user.id and !current_user.admin? and !current_user.dpo_role? and !current_user.mouo_role?
        = controller.redirect_to "/users/sign_in"
      -else
        -# ="отсюда рендерим чего надо"
        -@recom = TaskRecomendation.where(:test_type=>rr.test_type).where(:subject=>rr.subject).order('task_number ASC')
        -if !@recom.nil?
          -@recom.each do |r|
            -@spec = TaskSpecification.where(:test_type=>rr.test_type).where(:subject=>rr.subject).where(:task_number=>r.task_number)
            -if !@spec.nil?
              -@spec=@spec.first
              %h5
                %b
                  ="Задание №"
                  =@spec.task_number
                =@spec.zun_name
            =r.recomendation_text
            %br
