-@id=params[:id]
-#%h1=@id.to_s
-if @id.nil?
  = controller.redirect_to "/users/sign_in"
-else
  -rr=Appeal.where(:id => @id.to_i).first
  -if rr.nil?
    = controller.redirect_to "/users/sign_in"
  -else
    -asd = UserTestType.where("test_type_id = " + rr.test_type_id.to_s).where(:identifier=>rr.identifier.upcase).first
    -if asd.nil?
      = controller.redirect_to "/users/sign_in"
    -else
      -if asd.user_id != current_user.id and !current_user.admin? and !current_user.dpo_role? and !current_user.mouo_role?
        = controller.redirect_to "/users/sign_in"
      -else
        %h1 Сведения об апелляции (перепроверке)
        %table
          %tr
            %th= t("appeals.idnum")
            %td= rr.id.to_s
          %tr
            %th= t("appeals.appeal_type_or_reexpert")
            %td
              = rr.appeal_type.name.to_s
              %br
              -if rr.presence
                ="Очная"
              -else
                ="Заочная"
          %tr
            %th= t("appeals.appeal_condition")
            %td= rr.appeal_condition.name.to_s
          %tr
            %th= t("appeals.exam")
            %td
              = rr.test_type.name.to_s
              = rr.subject.subject_name.to_s
              = rr.examdate.to_s
          %tr
            %th= t("appeals.appeal_station")
            %td
              = rr.appeal_station.name.to_s
              %br
              = rr.appeal_station.address.to_s
          %tr
            %th= t("appeals.appeal_time")
            -#%td= rr.appeal_time.to_s
            -#%td= rr.appeal_time.strftime("%d.%m.%Y %H:%M")
            %td
              -if !rr.appeal_time.nil?
                =rr.appeal_time.strftime("%d.%m.%Y %H:%M")
              -else
                ="Время рассмотрения ещё не назначено. Загляните немного позднее"
        %hr
        %table
          %tr
            %th="Заявление на апелляцию"
            %th="Уведомление о рассмотрении апелляции"
          %tr
            %td
              - if rr.statement.previewable?
                = link_to rr.statement do
                  = image_tag rr.statement.preview(resize_to_limit: [100, 100])
              - else
                -if rr.statement.attached?
                  = link_to rr.statement.filename, pr.statement
                -else
                  = t("appeals.statement_is_absent")
            %td
              - if rr.notification.previewable?
                = link_to rr.notification do
                  = image_tag rr.notification.preview(resize_to_limit: [100, 100])
              - else
                -if rr.notification.attached?
                  = link_to rr.notification.filename, pr.notification
                -else
                  = t("appeals.notification_is_absent")
%hr
%p
  = link_to t("buttons.back"), root_path, :class => "btn btn-primary btn-mini"