-@id=params[:id]
-#%h1=@id.to_s
-if @id.nil?
  = controller.redirect_to "/users/sign_in"
-else
  -rr=Result.where(:id => @id.to_i).first
  -if rr.nil?
    = controller.redirect_to "/users/sign_in"
  -else
    -asd = UserTestType.where("test_type_id = " + rr.test_type_id.to_s).where(:identifier=>rr.identifier).first
    -if asd.nil?
      = controller.redirect_to "/users/sign_in"
    -else
      -if asd.user_id != current_user.id and !current_user.admin? and !current_user.dpo_role? and !current_user.mouo_role?
        = controller.redirect_to "/users/sign_in"
      -else
        -if rr.test_type.name == 'Диагностика профессиональных дефицитов учителей'
          = render :partial => 'diagnostika_uchitelej', :locals => {:legend => t(".title")}
        -if rr.test_type.name == 'ЕГЭ'
          = render :partial => 'ege_2022', :locals => {:legend => t(".title")}
        -if rr.test_type.name == 'ОГЭ'
          = render :partial => 'oge_2022', :locals => {:legend => t(".title")}
