%h1 Соглашения
%p Использование этого сайта является служебной необходимостью.
%p Обладателем информации является Региональный центр обработки информации и оценки качества образования Свердловской области.
%p Вся полученная информация может может использоваться вами только по прямому назначению и в целях служебной необходимости.
%p Не допускается копирование информации для использования её в иных целях.