%h4= t("results.edit.title")

= form_for @result do |f|
  .form-group
    %table
      %tr
        %td= t("results.choose_test_type")
        %td= f.collection_select :test_type_id, @test_types, :id, :name, prompt: true, placeholder: t('task_specification.choose_test_type')
      %tr
        %td= t("results.choose_subject")
        %td= f.collection_select :subject_id, @subjects, :id, :subject_name, prompt: true, placeholder: t('task_specification.choose_subject')
      %tr
        %td= t("results.identifier")
        %td= f.text_field :identifier, autofocus: false, placeholder: t("results.identifier"), class: 'form-control'
      %tr
        %td= t("results.choose_process_condition")
        %td= f.collection_select :process_condition_id, @process_conditions, :id, :name, prompt: true, placeholder: t('results.choose_process_condition')
      %tr
        %td= t("results.examdate")
        %td= f.date_field :examdate,  placeholder: t('results.examdate')
      %tr
        %td= t("results.station")
        %td= f.text_field :station, autofocus: false, placeholder: t("results.station"), class: 'form-control'
      %tr
        %td=t('results.variant')
        %td=f.number_field :variant, autofocus: true, placeholder: t('results.variant'), class: 'form-control'
      %tr
        %td=t('results.primarymark')
        %td=f.number_field :primarymark, autofocus: true, placeholder: t('results.primarymark'), class: 'form-control'
      %tr
        %td=t('results.mark100')
        %td=f.number_field :mark100, autofocus: true, placeholder: t('results.mark100'), class: 'form-control'
      %tr
        %td=t('results.mark5')
        %td=f.number_field :mark5, autofocus: true, placeholder: t('results.mark5'), class: 'form-control'
      %tr
        %td= t("results.testresulta")
        %td= f.text_field :testresulta, autofocus: false, placeholder: t("results.testresulta"), class: 'form-control'
      %tr
        %td= t("results.testresultb")
        %td= f.text_field :testresultb, autofocus: false, placeholder: t("results.testresultb"), class: 'form-control'
      %tr
        %td= t("results.testresultc")
        %td= f.text_field :testresultc, autofocus: false, placeholder: t("results.testresultc"), class: 'form-control'
      %tr
        %td= t("results.testresultd")
        %td= f.text_field :testresultd, autofocus: false, placeholder: t("results.testresultd"), class: 'form-control'
      %tr
        %td= t("results.blank_r")
        %td= f.text_field :blank_r, autofocus: false, placeholder: t("results.blank_r"), class: 'form-control'
      %tr
        %td= t("results.blank_1")
        %td= f.text_field :blank_1, autofocus: false, placeholder: t("results.blank_1"), class: 'form-control'
      %tr
        %td= t("results.blank_2")
        %td= f.text_field :blank_2, autofocus: false, placeholder: t("results.blank_2"), class: 'form-control'
  .form-actions
    = f.submit @result.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t('buttons.cancel'), {:action => 'index'}
