.results-count.clear
  =t("messages.search.find_results")
  =@results.count
%table.table.table-bordered
  %thead
    %th= t("results.id")
    %th= t("results.user")
    %th= t("results.test_type")
    %th= t("results.subject")
    %th= t("results.process_condition")
    %th= t("results.mark100")
    %th= t("results.test_results")
    %th= t("results.files")
  %tbody
    - @results.each do |pr|
      %tr
        %td= pr.id.to_s
        -asd = UserTestType.where("test_type_id = " + pr.test_type_id.to_s).where(:identifier=>pr.identifier)
        -if !asd.nil?
          -if asd.count>1
            %td
              ="Найдены дубли идентификатора "
              =pr.user.identifier
          -else
            -asd= asd.first
            -if !asd.nil?
              -user=User.find(asd.user_id.to_i)
              %td=user.first_name
            -else
              %td{bgcolor: 'red'}="пользователь удалён"
        %td= pr.test_type.to_s
        %td= pr.subject.to_s
        %td= pr.process_condition.to_s
        %td= pr.mark100.to_s
        %td
          = pr.testresulta.to_s
          %br
          = pr.testresultb.to_s
          %br
          = pr.testresultc.to_s
          %br
          = pr.testresultd.to_s
        %td
          = pr.blank_r.to_s
          %br
          = pr.blank_1.to_s
          %br
          = pr.blank_2.to_s
        %td
          = link_to edit_result_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to result_path(pr), :method => :delete, :title => t("results.notice.delete_confirm"), data: {confirm: t("results.notice.are_you_sure")} do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @results.count > 20
  .apple_pagination
    = will_paginate @results