-# -@id=params[:id]
%h2=@result.subject.to_s

%table
  %tbody
    %tr
      %td
        =t"results.user"
      %td
        =@result.user.first_name
    %tr
      %td
        =t"results.participantid"
      %td
        =@result.participantid
    %tr
      %td
        =t"results.subject"
      %td
        =@result.subject
    %tr
      %td
        =t"results.examdate"
      %td
        = @result.examdate
    %tr
      %td
        =t"results.testtype"
      %td
        =@result.test_type
    %tr
      %td
        =t"results.process_condition"
      %td
        =@result.process_condition
    %tr
      %td
        =t"results.station"
      %td
        =@result.station
    %tr
      %td
        =t"results.variant"
      %td
        =@result.variant
    %tr
      %td
        =t"results.primarymark"
      %td
        =@result.primarymark
    %tr
      %td
        =t"results.mark100"
      %td
        =@result.mark100
    %tr
      %td
        =t"results.mark5"
      %td
        =@result.mark5
    %tr
      %td
        =t"results.testresulta"
      %td
        =@result.testresulta
    %tr
      %td
        =t"results.testresultb"
      %td
        =@result.testresultb
    %tr
      %td
        =t"results.testresultc"
      %td
        =@result.testresultc
    %tr
      %td
        =t"results.testresultd"
      %td
        =@result.testresultd

%div
  = link_to t("navigation.back"), results_path, :class => "btn btn-primary btn-mini"