-if !@document_types.nil?
  %p
    = I18n.t :document_type, count: @document_types.count

-if @document_types.count > 20
  .apple_pagination
    = will_paginate @document_types

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      %th= t("document_types.code")
      %th= t("document_types.name")
      %th= t("document_types.short_name")
      %th= t("document_types.fisgia9code")
      %th= t("document_types.fisgia11code")
      %th= t("document_types.sort_by")
      -if current_user.admin?
        %th= t("document_types.actions.title")
    %tbody
      - @document_types.each do |row|
        -if can? :read, row
          %tr
            %td= row.code.to_s
            %td= link_to row.name.to_s, document_type_path(row)
            %td= row.short_name
            %td= row.fisgia9code
            %td= row.fisgia11code
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_document_type_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to document_type_path(row), :method => :delete,  data: { confirm: t('document_types.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @document_types.count > 20
  .apple_pagination
    = will_paginate @document_types