.row
  .span9
    %h3.pull-left
      .text3d= t("document_types.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag document_types_path, :method => 'get', :id => "document_types_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, DocumentType
              = link_to new_document_type_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, DocumentType) and (can? :export, DocumentType)
              =" | "
            - if can? :export, DocumentType
              = link_to document_types_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, DocumentType) and (can? :import, DocumentType)
              =" | "
            - if can? :import, DocumentType
              = link_to new_document_types_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}