%h4= t("answers.edit.title")

= form_for @answer do |f|
  .form-group
    %table
      %tr
        %td= t("answers.choose_test_type")
        %td= f.collection_select :test_type_id, @test_types, :id, :name, prompt: true, placeholder: t('task_specifications.choose_test_type')
      %tr
        %td= t("answers.choose_subject")
        %td= f.collection_select :subject_id, @subjects, :id, :subject_name, prompt: true, placeholder: t('task_specifications.choose_subject')
      %tr
        %td= t("answers.identifier")
        %td= f.text_field :identifier, autofocus: false, placeholder: t("answers.identifier"), class: 'form-control'
      %tr
        %td= t("answers.examdate")
        %td= f.date_field :examdate,  placeholder: t('answers.examdate')
      %tr
        %td=t('answers.task_number')
        %td=f.number_field :task_number, autofocus: true, placeholder: t('answers.task_number'), class: 'form-control'
      %tr
        %td= t("answers.answer_value")
        %td= f.text_field :answer_value, autofocus: false, placeholder: t("answers.answer_value"), class: 'form-control'
      %tr
        %td= t("answers.replace_value")
        %td= f.text_field :replace_value, autofocus: false, placeholder: t("answers.replace_value"), class: 'form-control'
  .form-actions
    = f.submit @answer.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t('buttons.cancel'), {:action => 'index'}