.answers-count.clear
  =t("messages.search.find_answers")
  =@answers.count

-if @answers.count > 20
  .apple_pagination
    = will_paginate @answers

%table.table.table-bordered
  %thead
    %th= t("answers.id")
    %th= t("answers.user")
    %th= t("answers.test_type")
    %th= t("answers.subject")
    %th= t("answers.task_number")
    %th= t("answers.answer_value")
    %th= t("answers.replace_value")
    %th= t("answers.actions.title")
  %tbody
    - @answers.each do |pr|
      %tr
        %td= pr.id.to_s
        -asd = UserTestType.where("test_type_id = " + pr.test_type_id.to_s).where(:identifier=>pr.identifier)
        -if !asd.nil?
          -if asd.count == 0
            %td
              ="Не найден пользователь"
          -elsif asd.count>1
            %td
              ="Найдено более 1 пользователя с данным идентификатором "
              =pr.user.identifier
          -else
            -asd= asd.first
            -user=User.find(asd.user_id.to_i).first_name
            %td=user
        %td= pr.test_type.to_s
        %td= pr.subject.to_s
        %td= pr.task_number.to_s
        %td= pr.answer_value.to_s
        %td= pr.replace_value.to_s
        %td
          = link_to edit_answer_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to answer_path(pr), :method => :delete, :title => t("answers.notice.delete_confirm"), data: {confirm: t("answers.notice.are_you_sure")} do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @answers.count > 20
  .apple_pagination
    = will_paginate @answers