%h4= t("appeals.edit.title")
-@appeal_types = AppealType.all
-@appeal_conditions = AppealCondition.all
-@test_types = TestType.where("id in (1, 2)")
-@subjects = Subject.all.order('code ASC')
-@appeal_stations = AppealStation.all
-@users = User.where("first_name like 'oo%' or first_name like 'msu%'").order ('first_name ASC')
-if current_user.ous_role?
  -oo = Ou.where(:code => current_user.target_id).first
  -ate = oo.ate
  -mouo = Mouo.where(:code => ate.code).first
  -@appeal_stations = AppealStation.where(:mouo_id => mouo.id)

= form_for @appeal do |f|
  .form-group
    %table
      -if current_user.ous_role? or current_user.mouo_role?
        = f.hidden_field :appeal_type_id, :value => 2
        -if @appeal.user_id.nil?
          = f.hidden_field :user_id, :value => current_user.id
      -else
        %tr
          %td= t("appeals.appeal_type")
          %td= f.collection_select :appeal_type_id, @appeal_types, :id, :name, prompt: true, placeholder: t('appeals.choose_appeal_type')
        %tr
          %td= t("appeals.user")
          %td= f.collection_select :user_id, @users, :id, :first_name, prompt: true, placeholder: t('appeals.users')
      %tr
        -if current_user.ous_role? or (current_user.mouo_role? and @appeal.test_type_id != 2)
          = f.hidden_field :appeal_condition_id, :value => 1
        -else
          %td= t("appeals.appeal_condition")
          %td= f.collection_select :appeal_condition_id, @appeal_conditions, :id, :name, prompt: true, placeholder: t('appeals.choose_appeal_condition')
      %tr
        %td= t("appeals.test_type")
        %td= f.collection_select :test_type_id, @test_types, :id, :name, prompt: true, placeholder: t('appeals.choose_test_type')
      %tr
        %td= t("appeals.subject")
        %td= f.collection_select :subject_id, @subjects, :id, :subject_name, prompt: true, placeholder: t('appeals.choose_subject')
      %tr
        %td= t("appeals.identifier")
        %td= f.text_field :identifier, autofocus: false, placeholder: t("appeals.enter_indentifier"), class: 'form-control'
      %tr
        %td= t("appeals.examdate")
        %td= f.date_select :examdate, autofocus: false, placeholder: t("appeals.enter_examdate"), class: 'form-control'
      %tr
        -if @appeal_stations.count > 1
          %td= t("appeals.appeal_station")
          %td= f.collection_select :appeal_station_id, @appeal_stations, :id, :name, prompt: true, placeholder: t('appeals.choose_appeal_station')
        -else
          = f.hidden_field :appeal_station_id, :value => @appeal_stations[0].id
      -if !current_user.ous_role? or (current_user.mouo_role? and @appeal.test_type_id == 2  )
        %tr
          %td= t("appeals.appeal_time")
          %td= f.datetime_select :appeal_time, { minute_step: 5 }
        %tr
          %td= t("appeals.appeal_link")
          %td= f.text_field :appeal_link, autofocus: false, placeholder: 'http://vc.gia66.ru/', class: 'form-control'
        %tr
          %td
            = t("appeals.notification")
            - if @appeal.notification.previewable?
              = image_tag @appeal.notification.preview(resize_to_limit: [100, 100])
            - else
              -if @appeal.notification.attached?
                = t("appeals.no_preview")
              -else
                = t("appeals.notification_is_absent")
          %td
            = f.file_field :notification, direct_upload: true, accept: 'application/pdf, application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
            = f.check_box(:delete_notification)
            = t("appeals.delete_file")
      %tr
        %td= t("appeals.presence")
        %td= f.check_box :presence, autofocus: false, placeholder: 'appeals.presence'
      %tr
        %td
          = t("appeals.statement")
          - if @appeal.statement.previewable?
            = image_tag @appeal.statement.preview(resize_to_limit: [100, 100])
          - else
            -if @appeal.statement.attached?
              = t("appeals.no_preview")
            -else
              = t("appeals.statement_is_absent")
        %td
          = f.file_field :statement, direct_upload: true, accept: 'application/pdf, application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
          = f.check_box(:delete_statement)
          = t("appeals.delete_file")
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @appeal.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}

-#:appeal_type_id, :appeal_condition_id,
-#:test_type_id, :subject_id, :identifier, :examdate,
-#:appeal_station_id, :appeal_time, :appeal_link
