#filterrific_results
  -@appeal_types = AppealType.all
  -@appeal_conditions = AppealCondition.all
  -@test_types = TestType.where("id in (1, 2)")
  -@subjects = Subject.all.order('code ASC')
  -@appeal_stations = AppealStation.all
  -@users = User.where("first_name like 'oo%' or first_name like 'msu%'").order ('first_name ASC')

  -if !@appeals.nil?
    .results-count.clear
      =t("messages.search.find_results")
      =@appeals.count

    -if @appeals.count > 20 and @list == true
      .apple_pagination
        = will_paginate @appeals

    %table.table.table-bordered
      %thead
        %th= t("appeals.id")
        %th= t("appeals.appeal_type")
        %th= t("appeals.appeal_condition")
        %th= t("appeals.exam")
        -#%th= t("appeals.subject")
        %th= t("appeals.appeal_station_ate")
        -#%th= t("appeals.examdate")
        %th= t("appeals.identifier")
        %th= t("appeals.appeal_time")
        -if !current_user.ous_role?
          %th= t("appeals.user")
        %th= t("appeals.actions.title")
      %tbody
        - @appeals.each do |pr|
          %tr
            %td= pr.id.to_s
            -if 1 == 1
              %td
                = pr.appeal_type.name.to_s
                - if pr.statement.previewable?
                  = link_to pr.statement do
                    = image_tag pr.statement.preview(resize_to_limit: [100, 100])
                - else
                  -if pr.statement.attached?
                    = link_to pr.statement.filename, pr.statement
                  -else
                    = t("appeals.statement_is_absent")
              %td
                = pr.appeal_condition.name.to_s
                - if pr.notification.previewable?
                  = link_to pr.notification do
                    = image_tag pr.notification.preview(resize_to_limit: [100, 100])
                - else
                  -if pr.notification.attached?
                    = link_to pr.notification.filename, pr.notification
                  -else
                    = t("appeals.notification_is_absent")

            -else
              %td= best_in_place pr, :appeal_type_id, :as => :select, collection:AppealType.pluck(:id, :name).uniq.map { |g| Array.new(g) }
              %td= best_in_place pr, :appeal_condition_id, :as => :select, collection:AppealCondition.pluck(:id, :name).uniq.map { |g| Array.new(g) }
            -rrr=Result.where(:test_type_id => pr.test_type_id).where(:subject_id => pr.subject_id).where(:examdate => pr.examdate).where(:identifier=>pr.identifier.upcase)
            -rr = nil
            -if rrr.nil?
              -mm="Результат не найден"
            -else
              -if rrr.count == 1
                -mm="Набрано: " + rrr.first.mark100.to_s
                -rr = rrr.first
              -else
                -mm="Найден не 1 результат"
            -if mm == 'Результат не найден'
              %td{:bgcolor=>'red'}= mm
            -else
              %td
                = mm
                -if !rr.nil?
                  = link_to '/show_result/' + rr.id.to_s do
                    = bootstrap_icon "file-earmark-richtext", width: 15, height: 15, fill: "green"
                    = "подробнее"
                = best_in_place pr, :test_type_id, :as => :select, collection:TestType.where('id in (1,2)').pluck(:id, :name).uniq.map { |g| Array.new(g) }
                = best_in_place pr, :subject_id, :as => :select, collection:Subject.where('code < 100').order('code asc').pluck(:id, :subject_name).uniq.map { |g| Array.new(g) }
                = best_in_place pr, :examdate, :as => :date
            %td
              -# = best_in_place pr, :appeal_station_id, :as => :select, collection:AppealStation.pluck(:id, :name).uniq.map { |g| Array.new(g) }
              = pr.appeal_station.mouo.ate.name.to_s
              -if current_user.ous_role? or (current_user.mouo_role? and pr.test_type_id != 2)
                = pr.appeal_link
              -else
                = best_in_place pr, :appeal_link, :as => :input

            -asd = UserTestType.where("test_type_id = " + pr.test_type_id.to_s).where(:identifier=>pr.identifier.upcase)
            -if !asd.nil?
              -if asd.count>1
                %td
                  ="Найдено более 1 пользователя с данным идентификатором "
                  =pr.user.identifier
              -else
                -asd= asd.first
                -if !asd.nil?
                  -user=User.find(asd.user_id.to_i).first_name
                  %td=user
                -else
                  %td
                    ="Ошибка в идентификаторе: "
                    =pr.identifier.to_s
            -else
              %td
                ="Ошибка в идентификаторе: "
                =pr.identifier.to_s
            -#%td= best_in_place pr, :appeal_time, :as => :datetime
            %td
              -if !pr.appeal_time.nil?
                =pr.appeal_time.strftime("%d.%m.%Y %H:%M")
              -else
                ="Не назначено"
            -if !current_user.ous_role?
              %td= pr.user.first_name
            %td
              = link_to edit_appeal_path(pr), :title => t("buttons.edit") do
                = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
              = link_to appeal_path(pr), :method => :delete, :title => t("buttons.delete") do
                = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

    -if @appeals.count > 20 and @list = true
      .apple_pagination
        = will_paginate @appeals

  -else
    %h5= "Апелляции не найдены"
