-@list = true
-test_type_def=nil
-subject_def=nil
-ate_def=nil
-examdate_def=nil
-with_errors_def=false
-appeal_condition_def=nil
-if !params[:filterrific].nil?
  -if !params[:filterrific][:appeals_params].nil?
    -test_type_def=params[:filterrific][:appeals_params][:test_type]
    -subject_def=params[:filterrific][:appeals_params][:subject]
    -examdate_def=params[:filterrific][:appeals_params][:examdate]
    -with_errors_def=params[:filterrific][:appeals_params][:with_errors]
    -ate_def=params[:filterrific][:appeals_params][:ate]
    -appeal_condition_def=params[:filterrific][:appeals_params][:appeal_condition]
-if !@filterrific.nil?
  -if !@filterrific.appeals_params.nil?
    -test_type_def=@filterrific.appeals_params.test_type
    -subject_def=@filterrific.appeals_params.subject
    -examdate_def=@filterrific.appeals_params.examdate
    -with_errors_def=@filterrific.appeals_params.with_errors
    -ate_def=@filterrific.appeals_params.ate
    -appeal_condition_def=@filterrific.appeals_params.appeal_condition

.filterrific-periodically-observed
  = form_for_filterrific @filterrific do |f|
    %table
      %tr
        %td
          ="Найти"
          = f.text_field(:search_query, class: 'filterrific-periodically-observed')
        %td
          ="Сортировка"
          =f.select(:sorted_by, @filterrific.select_options[:sorted_by])
        %td
          - if can? :create, Appeal
            = link_to new_appeal_path do
              = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
          - if can? :export, Appeal
            = link_to appeals_export_path do
              = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
          - if can? :import, Appeal
            = link_to new_appeals_import_path do
              = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"
    = f.fields_for :appeals_params do |appeals_params_fields|
      %table
        %tr
          %td
            ="С ошибками"
            -if with_errors_def == '1'
              =appeals_params_fields.check_box :with_errors, {checked: true}
            -else
              =appeals_params_fields.check_box :with_errors, {checked: false}
          %td
            ="АТЕ места проведения апелляций"
            =appeals_params_fields.collection_select :ate, @ates, :id, :name, { include_blank: '- Любая -', include_hidden: false, :selected => ate_def}, multiple: false
          %td
            ="Состояние апелляции"
            =appeals_params_fields.collection_select :appeal_condition, @appeal_conditions, :id, :name, { include_blank: '- Любое -', include_hidden: false, :selected => appeal_condition_def}, multiple: false
        %tr
          %td
            ="Дата"
            =appeals_params_fields.select :examdate, @dates, { include_blank: '- Любая -', include_hidden: false, :selected => examdate_def}, multiple: false
          %td
            ="Типы диагностик"
            =appeals_params_fields.collection_select :test_type, @test_types, :id, :name, { include_blank: '- Любой -', include_hidden: false, :selected => test_type_def}, multiple: false
          %td
            ="Предмет"
            =appeals_params_fields.collection_select :subject, @subjects, :id, :subject_name, { include_blank: '- Любой -', include_hidden: false, :selected => subject_def}, multiple: false
        %tr
          %td
            = link_to('Сбросить фильтр', reset_filterrific_url)
          %td
            =f.submit 'Применить фильтр'
          %td=""

= render_filterrific_spinner
.filterrific_results
  = render :partial => 'list_new', :locals => {:legend => t(".title")}