-require 'roo'

-file=params[:subjects_import]['file']

%h2
  = "Импорт списка предметов из Excel-файла :: "
  = file.original_filename
  = " ::"

-if !file.nil?
  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -if xlsx.sheets.count == 1
    -if xlsx.sheet(0).last_row > 1
      -if xlsx.sheet(0).last_column == 3
        - if xlsx.sheet(0).row(1)[0] == 'ID' and xlsx.sheet(0).row(1)[1] == 'Код предмета' and xlsx.sheet(0).row(1)[2] == 'Наименование предмета'
          %p Все правила для файла проверены. Начинается импорт.
          -i = 1
          -while i<xlsx.sheet(0).last_row
            -imp = nil
            -i = i + 1
            -if !xlsx.sheet(0).row(i)[0].nil?
              -imp = Subject.where("id = " + xlsx.sheet(0).row(i)[0].to_s).first
            -if imp.nil?
              -imp = Subject.new
            -imp.code = xlsx.sheet(0).row(i)[1]
            -imp.subject_name = xlsx.sheet(0).row(i)[2]
            -imp.save
            -if !imp.id.nil? and !imp.subject_name.nil? and !imp.code.nil?
              =imp.id
              %p
                = "Загружена строка №"
                = i.to_s
                = ". ID "
                = xlsx.sheet(0).row(i)[0]
                = ", код "
                = xlsx.sheet(0).row(i)[1]
                = ", наименование "
                = xlsx.sheet(0).row(i)[2]
                = ". "
            -else
              %p
                = "В строке №"
                = i.to_s
                = " что-то не заполнено."
        -else
          %p Заголовки не соответствуют формату загрузки сведений о статусах обработки ('ID', 'Статус обработки результата').
      -else
        %p В файле не 3 столбца.
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист.
-else
  %p Файл не найден

= link_to t('buttons.back'), subjects_path