%h1 Импорт результатов из Excel-файла
%p
  Помните: следует загружать только таблицы, соответствующие формату выгрузки.

%h3 Требования
%ul
  %li Вы должны проверить свой файл на соответствие требованиями к модели предмета.
  %li Файл должен быть Excel, при этом содержать только столбцы 'ID', 'Тип тестирования', 'Предмет', 'Идентификатор', 'Состояние обработки результата', 'Дата',         'Место тестирования', 'Вариант', 'Первичный балл', 'В 100-балльной шкале', 'В 5-балльной шкале', 'Результат тестовой части', 'Результат заданий с кратким ответом', 'Результат заданий с экспертной оценкой', 'Результат практических (устных) заданий', 'Бланк регистрации', 'Бланк кратких ответов', 'Бланк развёрнутых ответов'.
  %li При выполнении этих требований, файл может быть импортирован.
  %li При совпадении ID статус будет обновлён; если такого ID нет, то статус будет добавлен, но при этом ID будет следующим порядковым
%h5 Выберите файл
= form_for @results_import do |f|
  - if @results_import.errors.any?
    = pluralize(@results_import.errors.count, "error")
    защита от неверного импорта таблиц.

    Пожалуйста, измените свою электронную таблицу и попробуйте снова.
    %ul
      - @results_import.errors.full_messages.each do |msg|
        %li= msg
  = f.file_field :file
  = f.submit t("buttons.import_file")
= link_to t('buttons.back'), results_path