%h4= t("subjects.edit.title")

= form_for @subject do |f|
  .form-group
    %table
      %tr
        %td=t('subjects.edit.placeholder_subject_code')
        %td=f.number_field :code, autofocus: true, placeholder: t('subjects.edit.placeholder_subject_code'), class: 'form-control'
      %tr
        %td=t('subjects.edit.placeholder_subject_name')
        %td=f.text_field :subject_name, autofocus: true, placeholder: t('subjects.edit.placeholder_subject_name'), class: 'form-control'
  .form-actions
    = f.submit @subject.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t('buttons.cancel'), {:action => 'index'}
