.results-count.clear
  =t("messages.search.find_results")
  =@subjects.count
%table.table.table-bordered
  %thead
    %th= t("subjects.id")
    %th= t("subjects.code")
    %th= t("subjects.name")
    %th= t("subjects.actions.title")
  %tbody
    - @subjects.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= pr.code.to_s
        %td= link_to pr.subject_name.to_s, subject_path(pr)
        %td
          = link_to edit_subject_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to subject_path(pr), :method => :delete, :title => t("subjects.notice.delete_confirm") + ' ' + pr.subject_name.to_s, data: {confirm: t("subjects.notice.are_you_sure")} do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @subjects.count > 20
  .apple_pagination
    = will_paginate @subjects