.row
  .span9
    %h3.pull-left= t("subjects.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag subjects_path, :method => 'get', :id => "subject_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, Subject
              = link_to new_subject_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            - if can? :export, Subject
              = link_to subjects_export_path do
                = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            - if can? :create, Subject
              = link_to new_subjects_import_path do
                = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}