%h4= t("teacher_statements.edit.title")
-@ates = Ate.all.order('code ASC')
-@ous = Ou.all.order('code ASC')

= form_for @teacher_statement do |f|
  .form-group
    %table
      %tr
        %td= t("teacher_statements.fio")
        %td= f.text_field :fio, autofocus: false, placeholder: t("teacher_statements.fio"), class: 'form-control'
      %tr
        %td= t("teacher_statements.email")
        %td= f.email_field :email, autofocus: false, placeholder: t("teacher_statements.email"), class: 'form-control'
      %tr
        %td= t("teacher_statements.ate")
        %td= f.collection_select :ate_id, @ates, :id, :name, prompt: true, placeholder: t('teacher_statements.ate')
      %tr
        %td= t("teacher_statements.phone")
        %td= f.telephone_field :phone, placeholder: t('teacher_statements.phone')
      %tr
        %td{:colspan=>2}= t("teacher_statements.ou")
      %tr
        %td{:colspan=>2}= f.collection_select :ou_id, @ous, :id, :name, prompt: true, placeholder: t('teacher_statements.ou')
      %tr
        %td= t("teacher_statements.job_place")
        %td= f.text_field :job_place, autofocus: false, placeholder: t("teacher_statements.job_place"), class: 'form-control'
    %hr
    %table
      %tr
        %td{:colspan => 2}="Укажите преподаваемые учебные предметы"
      %tr
        %td= t("teacher_statements.subject01")
        %td= f.check_box :subject01, autofocus: false
      %tr
        %td= t("teacher_statements.subject02")
        %td= f.check_box :subject02, autofocus: false
      %tr
        %td= t("teacher_statements.subject03")
        %td= f.check_box :subject03, autofocus: false
      %tr
        %td= t("teacher_statements.subject04")
        %td= f.check_box :subject04, autofocus: false
      %tr
        %td= t("teacher_statements.subject05")
        %td= f.check_box :subject05, autofocus: false
      %tr
        %td= t("teacher_statements.subject06")
        %td= f.check_box :subject06, autofocus: false
      %tr
        %td= t("teacher_statements.subject07")
        %td= f.check_box :subject07, autofocus: false
      %tr
        %td= t("teacher_statements.subject08")
        %td= f.check_box :subject08, autofocus: false
      %tr
        %td= t("teacher_statements.subjects_other")
        %td= f.text_field :subjects_other
    %hr
    %table
      %tr
        %th{:colspan => 2}="Определите не более 5 направлений, наиболее актуальных для Вас в ближайшие 1-2 года профессиональной деятельности"
      %tr
        %td= t("teacher_statements.napr01")
        %td= f.check_box :napr01, autofocus: false
      %tr
        %td= t("teacher_statements.napr02")
        %td= f.check_box :napr02, autofocus: false
      %tr
        %td= t("teacher_statements.napr03")
        %td= f.check_box :napr03, autofocus: false
      %tr
        %td= t("teacher_statements.napr04")
        %td= f.check_box :napr04, autofocus: false
      %tr
        %td= t("teacher_statements.napr05")
        %td= f.check_box :napr05, autofocus: false
      %tr
        %td= t("teacher_statements.napr06")
        %td= f.check_box :napr06, autofocus: false
      %tr
        %td= t("teacher_statements.napr07")
        %td= f.check_box :napr07, autofocus: false
      %tr
        %td= t("teacher_statements.napr08")
        %td= f.check_box :napr08, autofocus: false

      %tr
        %td= t("teacher_statements.napr_other")
        %td= f.text_field :napr_other, autofocus: false, placeholder: t("teacher_statements.napr_other"), class: 'form-control'

    %hr
    %table
      %tr
        %th= t("teacher_statements.cifra")
        -#%td= f.number_field :cifra, autofocus: false, placeholder: t("teacher_statements.cifra"), class: 'form-control'
        -@ball = [{"name"=>"0 - нет необходимости", "id"=> 0}, {"name"=>"1", "id"=>1}, {"name"=>"2", "id"=>2}, {"name"=>"3", "id"=>3}, {"name"=>"4", "id"=>4}, {"name"=>"5 - обязательное включение", "id"=>5}]
        %td=f.select :cifra, @ball.collect {|p| [ p['name'], p['id'] ] }

    %hr
    %table
      %tr
        %th{:colspan => 2}="Выберите из перечня наиболее интересующие Вас направления цифровизации в учебном процессе"
      %tr
        %td= t("teacher_statements.cifra_napr01")
        %td= f.check_box :cifra_napr01, autofocus: false
      %tr
        %td= t("teacher_statements.cifra_napr02")
        %td= f.check_box :cifra_napr02, autofocus: false
      %tr
        %td= t("teacher_statements.cifra_napr03")
        %td= f.check_box :cifra_napr03, autofocus: false
      %tr
        %td= t("teacher_statements.cifra_other")
        %td= f.text_field :cifra_other, autofocus: false, placeholder: t("teacher_statements.cifra_other"), class: 'form-control'

    %hr
    %table
      %tr
        %td{:colspan=>2}= t("teacher_statements.individual")
      %tr
        %td{:colspan=>2}= f.text_area :individual, cols:80, rows: 5

    %hr
    %table
      %tr
        %td{:colspan => 2}="Какая форма повышения профессионального мастерства для Вас предпочтительнее?"
      %tr
        %td= t("teacher_statements.form01")
        %td= f.check_box :form01, autofocus: false
      %tr
        %td= t("teacher_statements.form02")
        %td= f.check_box :form02, autofocus: false
      %tr
        %td= t("teacher_statements.form03")
        %td= f.check_box :form03, autofocus: false
      %tr
        %td= t("teacher_statements.form04")
        %td= f.check_box :form04, autofocus: false
      %tr
        %td= t("teacher_statements.form05")
        %td= f.check_box :form05, autofocus: false
      %tr
        %td= t("teacher_statements.form_other")
        %td= f.text_field :form_other, autofocus: false, placeholder: t("teacher_statements.form_other"), class: 'form-control'

      -if current_user.admin? or current_user.dpo_role?
        %tr
          %td= t("appeals.user")
          %td= f.number_field :user_id
      -else
        = f.hidden_field :user_id, :value => current_user.id

      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @teacher_statement.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}
