.results-count.clear
  =t("messages.search.find_results")
  =@teacher_statements.count

-if @teacher_statements.count > 10
  .apple_pagination
    = will_paginate @teacher_statements

%table.table.table-bordered
  %thead
    %th= t("teacher_statements.id")
    %th= t("teacher_statements.user")
    %th= t("teacher_statements.fio")
    %th= t("teacher_statements.subjects")
    %th= t("teacher_statements.results")
    %th= t("teacher_statements.actions.title")
  %tbody
    - @teacher_statements.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= pr.user.first_name.to_s
        %td= pr.fio.to_s
        %td
          -if pr.subject01
            =t('teacher_statements.subject01')
          -if pr.subject02
            =t('teacher_statements.subject02')
          -if pr.subject03
            =t('teacher_statements.subject03')
          -if pr.subject04
            =t('teacher_statements.subject04')
          -if pr.subject05
            =t('teacher_statements.subject05')
          -if pr.subject06
            =t('teacher_statements.subject06')
          -if pr.subject07
            =t('teacher_statements.subject07')
          -if pr.subject08
            =t('teacher_statements.subject08')
          -if pr.subjects_other
            =pr.subjects_other
        %td
          -@user_results=Result.joins("join user_test_types utt ON utt.test_type_id = results.test_type_id and utt.identifier = results.identifier join test_types tt ON tt.id = utt.test_type_id and tt.id = results.test_type_id join subjects sj ON sj.id = results.subject_id join users u ON u.id = utt.user_id").where("u.id = " + pr.user.id.to_s)
          -if !@user_results.nil?
            - @user_results.each do |rr|
              = rr.subject.subject_name
              =": "
              =rr.testresulta
              -if rr.process_condition.name.to_s != 'Результат отсутствует'
                = link_to '/show_result/' + rr.id.to_s do
                  = bootstrap_icon "file-earmark-richtext", width: 15, height: 15, fill: "green"
                  = "подробнее"
          -else
            %td= '-'
        %td
          = link_to edit_teacher_statement_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to teacher_statement_path(pr), :method => :delete, :title => t("buttons.delete") do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @teacher_statements.count > 10
  .apple_pagination
    = will_paginate @teacher_statements