.row
  .span9
    %h3.pull-left= t("teacher_statements.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag teacher_statements_path, :method => 'get', :id => "teacher_statement_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, TeacherStatement
              = link_to new_teacher_statement_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            - if can? :export, TeacherStatement
              = link_to teacher_statements_export_path do
                = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            - if can? :import, TeacherStatement
              = link_to new_teacher_statements_import_path do
                = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}