%h1=t("teacher_statements.title")
%table
  %tr
    %td= t('teacher_statements.test_type')
    %td= best_in_place @teacher_statement, :test_type_id, :as => :select
  %tr
    %td= t('teacher_statements.subject')
    %td= best_in_place @teacher_statement, :subject_id, :as => :select
  %tr
    %td= t('teacher_statements.task_number')
    %td= best_in_place @teacher_statement, :task_number, :as => :input
  %tr
    %td= t('teacher_statements.competention_type')
    %td= best_in_place @teacher_statement, :competention_type, :as => :input
  %tr
    %td= t('teacher_statements.competention_name')
    %td= best_in_place @teacher_statement, :competention_name, :as => :input
  %tr
    %td= t('teacher_statements.zun_name')
    %td= best_in_place @teacher_statement, :zun_name, :as => :input
  %tr
    %td= t('teacher_statements.max_ball')
    %td= best_in_place @teacher_statement, :max_ball, :as => :input

%div
  = link_to t("buttons.back"), teacher_statements_path, :class => "btn btn-primary btn-mini"
