%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("question_types.actions.edit")
    = form_for @question_type do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#okato, guid, name, code, district, postcode, vpl_station_code
        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              %table.table-bordered.table-striped
                %tr
                  %th= t("question_types.name")
                  %td= f.text_field :name, autofocus: false
              %p
                .form-actions
                  = f.submit @question_type.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @question_type.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @ate.errors.count} не #{I18n.t :pozvol, count: @ate.errors.count} сохранить задание для аналитики :"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @question_type.errors.full_messages.each do |message|
                        %li= message.gsub('not_valid_okato', ' не соответствует формату').gsub('not_valid_www', ' не соответствует формату ссылки')
