-if !@question_types.nil?
  %p
    = I18n.t :question_type, count: @question_types.count

-if @question_types.count > 20
  .apple_pagination
    = will_paginate @question_types

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
-#
%p
  %table.styled-table{:style=>"width:100%;"}
    %thead
      %th= t("question_types.name")
      -if current_user.admin?
        %th= t("question_types.actions.title")
    %tbody
      - @question_types.each do |row|
        -if can? :read, row
          %tr
            %td
              = best_in_place_if can?(:edit, QuestionType), row, :name, type: :input
            -#%td= best_in_place_if (can? :edit, @question_types), row, :name, :as => :inputs
            %td
              - if can? :edit, row
                = link_to edit_question_type_path(row) do
                  = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
              =" "
              - if can? :delete, row
                = link_to question_type_path(row), :method => :delete,  data: { confirm: t('question_types.delete_confirm')} do
                  = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @question_types.count > 20
  .apple_pagination
    = will_paginate @question_types