.row
  .span9
    %h3.pull-left
      .text3d= t("question_types.list.title")
    %span.top-panel-actions
      %table.table.borderless{:style=>"width:100%;"}
        %tr
          %td
            = form_tag question_types_path, :method => 'get', :id => "question_types_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, QuestionType
              = link_to new_question_type_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, QuestionType) and (can? :export, QuestionType)
              =" | "
            - if can? :export, QuestionType
              = link_to question_types_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, QuestionType) and (can? :import, QuestionType)
              =" | "
            - if can? :import, QuestionType
              = link_to new_question_types_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}