-if @mouos.count > 20
  .apple_pagination
    = will_paginate @mouos

%table.table.table-striped
  %thead
    -if current_user.admin?
      %th= t("mouos.id")
    %th= t("mouos.code")
    %th= t("mouos.full_name")
    %th= t("mouos.ate_name")
    %th= t("mouos.contact_fio")
    %th= t("mouos.contact_phone")
    -if current_user.admin?
      %th= t("mouos.created_at")
      %th= t("mouos.updated_at")
    -if current_user.admin? or current_user.mouo_role?
      %th= t("mouos.actions.title")
  %tbody
    - @mouos.each do |row|
      %tr
        -if current_user.admin?
          %td= row.id.to_s
        %td= row.code.to_s
        %td= row.name.to_s
        %td= row.ate.name.to_s
        %td= row.contact_fio.to_s
        %td= row.contact_phone.to_s
        -if current_user.admin?
          %td= row.created_at.to_s
          %td= row.updated_at.to_s
        -if current_user.admin? or current_user.mouo_role?
          %td
            - if can? :edit, Mouo
              = link_to edit_mouo_path(row) do
                = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
            - if can? :delete, Mouo
              = link_to mouo_path(row), :method => :delete,  data: { confirm: t('delete_confirm')} do
                = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @mouos.count > 20
  .apple_pagination
    = will_paginate @mouos