%h4= t("ates.actions.edit")
= form_for @ate do |f|
  .form-group
    %table
      %tr
        %td= t("ates.code")
        %td= f.number_field :code, autofocus: false, placeholder: t("ates.code"), class: 'form-control'
      %tr
        %td= t("ates.full_name")
        %td= f.text_field :name, autofocus: false, placeholder: t("ates.name"), class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @ate.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}