-# -@id=params[:id]
%h1 Наименование проекта
%h2=@ate.name.to_s
%table
  %tr
    %td=t("ates.code")
    %td=@ate.code.to_s
  %tr
    %td=t("ates.full_name")
    %td=@ate.name
%div
  = link_to "Вернуться", ates_path, :class => "btn btn-primary btn-mini"