-require 'roo'

-file=params[:ege_participant_categories_import]['file']

%h2
  = "Импорт справочника из Excel-файла :: "
  = file.original_filename
  = " ::"

%p.border-bottom-0
  = link_to ege_participant_categories_path, :class => "btn btn-primary btn-mini" do
    = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
    = " Вернуться к списку "
  =" | "
  = link_to new_ege_participant_categories_import_path, :class => "btn btn-primary btn-mini" do
    = bootstrap_icon "reply", width: 15, height: 15, fill: "yellow"
    = " Повторить импорт "


-if current_user.admin?
  =@ege_participant_categories_import.importing(file, current_user).html_safe

%p.border-bottom-0
  = link_to ege_participant_categories_path, :class => "btn btn-primary btn-mini" do
    = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
    = " Вернуться к списку "
  =" | "
  = link_to new_ege_participant_categories_import_path, :class => "btn btn-primary btn-mini" do
    = bootstrap_icon "reply", width: 15, height: 15, fill: "yellow"
    = " Повторить импорт "
