%h4= t("user_test_types.edit.title")

= form_for @user_test_type do |f|
  .form-group
    %table
      %tr
        %td=t('user_test_types.user_id')
        %td=f.number_field :user_id, autofocus: true, placeholder: t('user_test_types.user_id'), class: 'form-control'
      %tr
        %td= t("user_test_types.choose_test_type")
        %td= f.collection_select :test_type_id, @test_types, :id, :name, prompt: true, placeholder: t('task_specification.choose_test_type')
      %tr
        %td= t("user_test_types.identifier")
        %td= f.text_field :identifier, autofocus: false, placeholder: t("user_test_types.identifier"), class: 'form-control'
  .form-actions
    = f.submit @user_test_type.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t('buttons.cancel'), {:action => 'index'}
