.results-count.clear
  =t("messages.search.find_results")
  =@user_test_types.count
%table.table.table-bordered
  %thead
    %th= t("user_test_types.id")
    %th= t("user_test_types.user")
    %th= t("user_test_types.test_type")
    %th= t("user_test_types.identifier")
    %th= t("user_test_types.actions.title")
  %tbody
    - @user_test_types.each do |pr|
      %tr
        %td= pr.id.to_s
        -if !pr.user.nil?
          %td= pr.user.first_name.to_s
        -else
          %td="Не найден"
        %td= pr.test_type.to_s
        %td= pr.identifier.to_s
        %td
          = link_to edit_user_test_type_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to user_test_type_path(pr), :method => :delete, :title => t("user_test_types.notice.delete_confirm") + ' ' + pr.identifier.to_s, data: {confirm: t("user_test_types.notice.are_you_sure")} do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @user_test_types.count > 20
  .apple_pagination
    = will_paginate @user_test_types