-# -@id=params[:id]
%h1=t("user_test_types.title")
%table
  %tr
    %td= t('user_test_types.user')
    %td
      = @user_test_type.user.first_name
      = @user_test_type.user.last_name
      = "("
      = @user_test_type.user.email
      = ")"
  %tr
    %td= t('user_test_types.test_type')
    %td= @user_test_type.test_type
  %tr
    %td= t('user_test_types.identifier')
    %td= best_in_place @user_test_type, :identifier, :as => :input


%div
  = link_to t("buttons.back"), user_test_types_path, :class => "btn btn-primary btn-mini"