-require 'roo'

-file=params[:teacher_statements_import]['file']

%h2
  = "Импорт заявлений на индивидуальные маршруты из Excel-файла :: "
  = file.original_filename
  = " ::"

-if !file.nil?
  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -if xlsx.sheets.count == 1
    -if xlsx.sheet(0).last_row > 1
      -if xlsx.sheet(0).last_column == 8
        - if xlsx.sheet(0).row(1)[0] == 'ID' and xlsx.sheet(0).row(1)[1] == 'Пользователь' and xlsx.sheet(0).row(1)[2] == 'Код ОО' and xlsx.sheet(0).row(1)[3] == 'Email' and xlsx.sheet(0).row(1)[4] == 'Телефон' and xlsx.sheet(0).row(1)[5] == 'Должность' and xlsx.sheet(0).row(1)[6] == 'Предметы' and xlsx.sheet(0).row(1)[7] == 'ФИО'
          %p Все правила для файла проверены. Начинается импорт.
          -i = 1
          -while i<xlsx.sheet(0).last_row
            -# Если 'ID' заполнен или надена заявка этого 'Пользователя'
            -imp = nil
            -i = i + 1
            -if !xlsx.sheet(0).row(i)[0].nil?
              -imp = TeacherStatement.where("id = " + xlsx.sheet(0).row(i)[0].to_s).first
            -if imp.nil?
              -imp = TeacherStatement.joins(:user).where("users.first_name = '" + xlsx.sheet(0).row(i)[1].to_s + "'").first
            -if imp.nil?
              -imp = TeacherStatement.new
            -# 'Код ОО'
            -imp.ou_id = Ou.where(:code => xlsx.sheet(0).row(i)[2]).first.id
            -# из кода ОО считается Ate
            -imp.ate_id = Ou.where(:code => xlsx.sheet(0).row(i)[2]).first.ate_id

            -# 'Email', 'Телефон', 'Должность', 'ФИО сотрудника'.
            -imp.job_place = xlsx.sheet(0).row(i)[5]
            -imp.phone = xlsx.sheet(0).row(i)[4]
            -imp.email = xlsx.sheet(0).row(i)[3]
            -imp.fio = xlsx.sheet(0).row(i)[7]

            -# Если 'ID' заполнен или надена заявка этого 'Пользователя'
            -imp.user_id = User.where(:first_name => xlsx.sheet(0).row(i)[1]).first.id

            -#'Предметы' [поле номер 6]
            -subjects = xlsx.sheet(0).row(i)[6]
            -ss = 1
            -while (ss <= 8)
              -tt = "teacher_statements.subject0#{ss}"
              -ttt = t(tt)
              -if subjects.include? ttt
                -if ss == 1
                  -imp.subject01 = 1
                -if ss == 2
                  -imp.subject02 = 1
                -if ss == 3
                  -imp.subject03 = 1
                -if ss == 4
                  -imp.subject04 = 1
                -if ss == 5
                  -imp.subject05 = 1
                -if ss == 6
                  -imp.subject06 = 1
                -if ss == 7
                  -imp.subject07 = 1
                -if ss == 8
                  -imp.subject08 = 1
                -subjects=subjects.gsub(ttt, '')
              -ss = ss + 1
            -subjects=subjects.gsub('  ', ' ')
            -subjects=subjects.gsub(', , ', ', ')
            -if subjects[0..1] == ', '
              -subjects = subjects[2..500]
            -if subjects[-2..-1] == ', '
              -subjects = subjects[-500..-3]
            -if !subjects.nil?
              -if subjects.length > 1
                -imp.subjects_other = subjects
              -else
                -imp.subjects_other = nil
            -else
              -imp.subjects_other = nil
            -# -imp.max_ball = xlsx.sheet(0).row(i)[7].to_i
            -imp.save
            -if !imp.id.nil?
              =imp.id
              %p
                = "Загружена строка №"
                = i.to_s
                = ". ID "
                = xlsx.sheet(0).row(i)[0]
                = ". "
            -else
              %p
                = "В строке №"
                = i.to_s
                = " что-то не заполнено:"
                = imp.fio
                = imp.email
                = imp.phone
                = imp.ate_id
                = imp.ou_id
                = imp.job_place
                = imp.user_id
                = "."
        -else
          %p Заголовки не соответствуют формату загрузки сведений о статусах обработки ('ID', 'Тип тестирования', 'Предмет', 'Номер задания', 'Тип компетенции', 'Компетенция', 'Знания/умения', 'Максимальный балл').
      -else
        %p В файле не 8 столбцов.
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист.
-else
  %p Файл не найден

= link_to t('buttons.back'), teacher_statements_path