%h1 Импорт заявлений на индивидуальные маршруты из Excel-файла
%p
  Помните: следует загружать только таблицы, соответствующие формату загрузки.

%h3 Требования
%ul
  %li Вы должны проверить свой файл на соответствие требованиями к модели статуса обработки.
  %li Файл должен быть Excel, при этом содержать только столбцы 'ID', 'Пользователь', 'Код ОО', 'Email', 'Телефон', 'Должность', 'Предметы', 'ФИО сотрудника'.
  %li [Остальные поля пока не импортируются]
  %li При выполнении этих требований, файл может быть импортирован.
  %li При совпадении ID статус будет обновлён; если такого ID нет, то статус будет добавлен, но при этом ID будет следующим порядковым
%h5 Выберите файл
= form_for @teacher_statements_import do |f|
  - if @teacher_statements_import.errors.any?
    = pluralize(@teacher_statements_import.errors.count, "error")
    защита от неверного импорта таблиц.

    Пожалуйста, измените свою электронную таблицу и попробуйте снова.
    %ul
      - @teacher_statements_import.errors.full_messages.each do |msg|
        %li= msg
  = f.file_field :file
  = f.submit t("buttons.import_file")

= link_to t('buttons.back'), teacher_statements_path

