%h4= t("task_specifications.edit.title")

= form_for @task_specification do |f|
  .form-group
    %table
      %tr
        %td= t("task_specifications.choose_test_type")
        %td= f.collection_select :test_type_id, @test_types, :id, :name, prompt: true, placeholder: t('task_specification.choose_test_type')
      %tr
        %td= t("task_specifications.choose_subject")
        %td= f.collection_select :subject_id, @subjects, :id, :subject_name, prompt: true, placeholder: t('task_specification.choose_subject')
      %tr
        %td= t("task_specifications.task_number")
        %td= f.number_field :task_number, autofocus: false, placeholder: t("task_specifications.task_number"), class: 'form-control'
      %tr
        %td= t("task_specifications.competention_type")
        %td= f.rich_text_area :competention_type, autofocus: false, placeholder: t("task_specifications.competention_type"), class: 'form-control'
      %tr
        %td= t("task_specifications.competention_name")
        %td= f.rich_text_area :competention_name, autofocus: false, placeholder: t("task_specifications.competention_name"), class:'form-control customized-min-height'
      %tr
        %td= t("task_specifications.zun_name")
        %td= f.rich_text_area :zun_name, autofocus: false, placeholder: t("task_specifications.zun_name"), class: 'form-control'
      %tr
        %td= t("task_specifications.max_ball")
        %td= f.number_field :max_ball, autofocus: false, placeholder: t("task_specifications.max_ball"), class: 'form-control'
      %tr
        %td{:colspan=>2}
          .form-actions
            = f.submit @task_specification.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
            = link_to t("buttons.cancel"), {:action => 'index'}