-if !@task_specifications.nil?
  .results-count.clear
    =t("messages.search.find_results")
    =@task_specifications.count

  -if @task_specifications.count > 10
    .apple_pagination
      = will_paginate @task_specifications

  %table.table.table-bordered
    %thead
      %th= t("task_specifications.id")
      %th= t("task_specifications.test_type")
      %th= t("task_specifications.subject")
      %th= t("task_specifications.task_number")
      %th= t("task_specifications.competention_type")
      %th= t("task_specifications.competention_name")
      %th= t("task_specifications.zun_name")
      %th= t("task_specifications.max_ball")
      %th= t("task_specifications.actions.title")
    %tbody
      - @task_specifications.each do |pr|
        %tr
          %td= pr.id.to_s
          %td= link_to pr.test_type.to_s, task_specifications_path(pr)
          %td= link_to pr.subject.to_s, task_specifications_path(pr)
          %td= link_to pr.task_number.to_s, task_specifications_path(pr)
          %td= link_to truncate(pr.competention_type.to_plain_text, :length=>20), task_specifications_path(pr)
          %td= link_to truncate(pr.competention_name.to_plain_text, :length=>60), task_specifications_path(pr)
          %td= link_to truncate(pr.zun_name.to_plain_text, :length=>60), task_specifications_path(pr)
          %td= best_in_place pr, :max_ball, :as => :input
          %td
            = link_to edit_task_specification_path(pr), :title => t("buttons.edit") do
              = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
            = link_to task_specifications_path(pr), :method => :delete, :title => t("buttons.delete") do
              = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

  -if @task_specifications.count > 10
    .apple_pagination
      = will_paginate @task_specifications
-else
  %p="Не найдено"