.row
  .span9
    %h3.pull-left= t("task_specifications.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag task_specifications_path, :method => 'get', :id => "task_specifications_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, TaskSpecification
              = link_to new_task_specification_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            - if can? :export, TaskSpecification
              = link_to task_specifications_export_path do
                = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            - if can? :create, TaskSpecification
              = link_to new_task_specifications_import_path do
                = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}