%h1=t("task_specifications.title")
%table
  %tr
    %td= t('task_specification.test_type')
    %td= best_in_place @task_specification, :test_type_id, :as => :select
  %tr
    %td= t('task_specification.subject')
    %td= best_in_place @task_specification, :subject_id, :as => :select
  %tr
    %td= t('task_specification.task_number')
    %td= best_in_place @task_specification, :task_number, :as => :input
  %tr
    %td= t('task_specification.competention_type')
    %td= best_in_place @task_specification, :competention_type, :as => :input
  %tr
    %td= t('task_specification.competention_name')
    %td= best_in_place @task_specification, :competention_name, :as => :input
  %tr
    %td= t('task_specification.zun_name')
    %td= best_in_place @task_specification, :zun_name, :as => :input
  %tr
    %td= t('task_specification.max_ball')
    %td= best_in_place @task_specification, :max_ball, :as => :input

%div
  = link_to t("buttons.back"), task_specifications_path, :class => "btn btn-primary btn-mini"
