-require 'roo'

-file=params[:user_test_types_import]['file']

%h2
  = "Импорт идентификаторов пользователей из Excel-файла :: "
  = file.original_filename
  = " ::"

-if !file.nil?
  -xlsx = Roo::Spreadsheet.open(file.tempfile)
  -if xlsx.sheets.count == 1
    -if xlsx.sheet(0).last_row > 1
      -if xlsx.sheet(0).last_column == 5
        - if xlsx.sheet(0).row(1)[0] == 'ID' and xlsx.sheet(0).row(1)[1] == 'Фамилия' and xlsx.sheet(0).row(1)[2] == 'Документ' and xlsx.sheet(0).row(1)[3] == 'Тип тестирования' and xlsx.sheet(0).row(1)[4] == 'Идентификатор'
          %p Все правила для файла проверены. Начинается импорт.
          -i = 1
          -while i<xlsx.sheet(0).last_row
            -imp = nil
            -i = i + 1
            -if !xlsx.sheet(0).row(i)[0].nil?
              -imp = UserTestType.where("id = " + xlsx.sheet(0).row(i)[0].to_s).first
            -if imp.nil?
              -imp = UserTestType.new
            -user = User.where(:first_name => "#{xlsx.sheet(0).row(i)[1]} #{xlsx.sheet(0).row(i)[2]}", :last_name => xlsx.sheet(0).row(i)[2]).first
            -if !user.nil?
              -imp.user_id = user.id
            -else
              -usr = User.new
              -usr.email = "#{xlsx.sheet(0).row(i)[4]}@gia66.ru".gsub('-', '')
              -usr.password = "#{xlsx.sheet(0).row(i)[2]}"
              -usr.first_name = "#{xlsx.sheet(0).row(i)[1]}"
              -usr.last_name = "#{xlsx.sheet(0).row(i)[2]}"
              -usr.admin = false
              -usr.superadmin_role = false
              -usr.mouo_role = false
              -usr.ous_role = false
              -usr.expert_role = false
              -usr.dpo_role = false
              -usr.blank_role = false
              -usr.confirmed_at = '2022-01-31 00:27'
              -usr.save
              -# =usr.inspect
              -imp.user_id = usr.id
            -imp.test_type_id = TestType.where(:name => xlsx.sheet(0).row(i)[3]).first.id
            -ff = UserTestType.where(:identifier => xlsx.sheet(0).row(i)[4]).where(:test_type_id => imp.test_type_id).where(:user_id => imp.user_id).first
            -if !ff.nil?
              ="Идентификатор "
              =imp.identifier
              =" уже есть, пропускаю"
            -else
              -imp.identifier = xlsx.sheet(0).row(i)[4]
              -imp.save
              -if !imp.id.nil? and !imp.test_type_id.nil? and !imp.identifier.nil?
                =imp.id
                %p
                  = "Загружена строка №"
                  = i.to_s
                  = ". ID "
                  = xlsx.sheet(0).row(i)[0]
                  = ", пользователь "
                  = imp.user_id.to_s
                  = ", тип тестирования "
                  = xlsx.sheet(0).row(i)[3]
                  = ", идентификатор "
                  = xlsx.sheet(0).row(i)[4]
                  = ". "
              -else
                -# =imp.inspect
                %p
                  -if !imp.user_id.nil?
                    = "В строке №"
                    = i.to_s
                    = " что-то не заполнено."
                  -else
                    = "В строке №"
                    = i.to_s
                    = " указан несуществующий пользователь."
        -else
          %p Заголовки не соответствуют формату загрузки сведений о статусах обработки ('ID', 'Статус обработки результата').
      -else
        %p В файле не 4 столбца.
    -else
      %p В файле менее 2 строк.
  -else
    %p В файле не 1 лист.
-else
  %p Файл не найден

= link_to t('buttons.back'), user_test_types_path