-require 'roo'

-file=params[:ous_import]['file']

%h2
  = "Импорт ОО из Excel-файла :: "
  = file.original_filename
  = " ::"

-xlsx = Roo::Spreadsheet.open(file.tempfile)
-#%p Проверка формата файла
-#%p= xlsx.info
-if xlsx.sheets.count == 1
  -if xlsx.sheet(0).last_row > 1
    -if xlsx.sheet(0).last_column == 6
      - if xlsx.sheet(0).row(1)[0] == 'Код ОО' and xlsx.sheet(0).row(1)[1] == 'Наименование ОО' and xlsx.sheet(0).row(1)[2] == 'Наименование АТЕ' and xlsx.sheet(0).row(1)[3] == 'Наименование ОМСУ' and xlsx.sheet(0).row(1)[4] == 'ФИО для контакта' and xlsx.sheet(0).row(1)[5] == 'Телефон для контакта'
        %p Все правила для файла проверены. Начинается импорт.
        -i = 1
        -while i<xlsx.sheet(0).last_row
          -i = i + 1
          -@imp = Ou.new
          -@imp.code = xlsx.sheet(0).row(i)[0]
          -@imp.name = xlsx.sheet(0).row(i)[1]
          -ate = Ate.where(:name => xlsx.sheet(0).row(i)[2]).first
          -mouo = Mouo.where(:name => xlsx.sheet(0).row(i)[3]).first
          -if !ate.nil? and !mouo.nil?
            -@imp.ate_id = ate.id
            -@imp.mouo_id = mouo.id
            -@imp.contact_fio = xlsx.sheet(0).row(i)[4]
            -@imp.contact_phone = xlsx.sheet(0).row(i)[5]
            -if !@imp.code.nil? and !@imp.name.nil?
              -@imp.save
              %p
                = "Загружена строка №"
                = i.to_s
                = ". АТЕ код "
                = xlsx.sheet(0).row(i)[0]
                = ", наименование "
                = xlsx.sheet(0).row(i)[1]
                = ". "
            -else
              %p
                = "В строке №"
                = i.to_s
                = " что-то не заполнено."
          -else
            %p
              = "В строке №"
              = i.to_s
              = " не найден АТЕ "
              = xlsx.sheet(0).row(i)[2]
              = " или ОМСУ "
              = xlsx.sheet(0).row(i)[3]
      -else
        %p Заголовки не соответствуют формату загрузки сведений об АТЕ ('Код ОМСУ', 'Наименование ОО', 'Наименование АТЕ', 'Наименование ОМСУ', 'ФИО для контакта', 'Телефон для контакта').
    -else
      %p В файле не 6 столбцов.
  -else
    %p В файле менее 2 строк.
-else
  %p В файле не 1 лист.
