%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    -#%title Ввод адреса одной строкой
    %link{:href => "/kladr/jquery.fias.min.css", :rel => "stylesheet"}/
    %link{:href => "/kladr/styles.css", :rel => "stylesheet"}/
    %script{:src => "/kladr/lib/jquery-1.11.1.min.js", :type => "text/javascript"}
    %script{:src => "/kladr/jquery.fias.min.js", :type => "text/javascript"}
    %script{:src => "/kladr/script.js", :type => "text/javascript"}
    -#%script{:src => "/dropzone/dropzone.min.js", :type => "text/javascript"}
  %body
    %h4
      .text3d= t("registration_places.actions.edit")
    = form_for @registration_place do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#okato, guid, name, code, district, postcode, vpl_station_code

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Общие сведения о месте регистрации на ЕГЭ
                .card-body
                  -#%h5.card-title Сведения об органе местного самоуправления
                  %p.card-text
                    %table.table-bordered.table-striped
                      -if current_user.admin?
                        %tr
                          %th= t("registration_places.ate_id")
                          %td= f.collection_select :ate_id, @ates, :id, :name, prompt: true, placeholder: t('registration_places.ate_name')
                      -if current_user.mouo_role?
                        = f.hidden_field :ate_id, :value =>  Ate.where(:code => current_user.target_id).first.id
                      %tr
                        %th= t("registration_places.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("registration_places.name"), class: 'form-control'
                      %tr
                        %th= t("registration_places.address")
                        - if !@registration_place.errors.any?
                          %td= f.text_field :address, autofocus: false, placeholder: t("registration_places.address"), class: 'form-control', :name => "address", :style => "display:block; position: relative; width:550px;"
                        -else
                          %td= f.text_field :address, autofocus: false, placeholder: t("registration_places.address"), class: 'form-control', :name => "address"
                      %tr
                        %th= t("registration_places.site")
                        %td= f.url_field :site, autofocus: false, placeholder: t("registration_places.site"), class: 'form-control'
                      %tr
                        %th= t("registration_places.phones")
                        %td= f.text_field :phones, autocomplete: "phone Number", class: "form-control", placeholder: "+7(999)888-4433" , 'data-mask': '+7(000)000-0000'
                      -#%tr
                      -#  %th= t("registration_places.additional_info")
                      -#  %td= f.text_field :additional_info, autocomplete: "phone Number", class: "form-control"
                  %h5=t("registration_places.additional_text")
                  .field{"data-controller" => "rich-text-table"}
                    =f.rich_text_area :additional_text
              %p
                .form-actions
                  = f.submit @registration_place.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @registration_place.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @registration_place.errors.count} не #{I18n.t :pozvol, count: @registration_place.errors.count} сохранить место регистрации:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @registration_place.errors.full_messages.each do |message|
                        %li= message.gsub('not_valid_okato', ' не соответствует формату').gsub('not_valid_www', ' не соответствует формату ссылки').gsub('ru.registration_places.errors.', '')
