-if !@registration_places.nil?
  %p
    = I18n.t :registration_place, count: @registration_places.count

-if @registration_places.count > 20
  .apple_pagination
    = will_paginate @registration_places

%p
  %table.styled-table
    %thead
      -#%th= t("registration_places.code")
      %th= t("registration_places.name")
      %th= t("registration_places.ate_id")
      -#%th= t("registration_places.website")
      -if current_user.admin? or current_user.mouo_role?
        %th= t("registration_places.actions.title")
    %tbody
      - @registration_places.each do |row|
        -if can? :read, row
          %tr
            -#%td= row.code.to_s
            %td
              = link_to row.name.to_s, registration_place_path(row)
              -# -if can? :edit, row
              -#   = link_to '/registration_places/modaledit/' + row.id.to_s, class: 'btn', data: { modal: true } do
              -#     = bootstrap_icon "eye-fill", width: 15, height: 25, fill: "green"
            %td= row.ate.name
            -#%td= link_to row.website.to_s, row.website.to_s
            -if current_user.admin? or current_user.mouo_role?
              %td
                - if can? :edit, row
                  = link_to edit_registration_place_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to ate_path(row), :method => :delete,  data: { confirm: t('registration_places.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @registration_places.count > 20
  .apple_pagination
    = will_paginate @registration_places