.row
  .span9
    %h3.pull-left
      .text3d= t("registration_places.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag registration_places_path, :method => 'get', :id => "registration_places_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, RegistrationPlace
              = link_to new_registration_place_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, RegistrationPlace) and (can? :export, RegistrationPlace)
              =" | "
            - if can? :export, RegistrationPlace
              = link_to registration_places_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, RegistrationPlace) and (can? :import, RegistrationPlace)
              =" | "
            - if can? :import, RegistrationPlace
              = link_to new_registration_places_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}