#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
  .carousel-inner
    .carousel-item.active
      %h2{:align => 'center'}=@registration_place.name.to_s
  -if !@previous.nil?
    %a.carousel-control-prev{"data-slide" => "prev", :href => "/registration_places/" + @previous.id.to_s, :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %p=@previous.name[0..10]+'...'.to_s
  -if !@next.nil?
    %a.carousel-control-next{"data-slide" => "next", :href => "/registration_places/" + @next.id.to_s, :role => "button"}
      %p=@next.name[0..10]+'...'.to_s
      %span.carousel-control-next-icon{"aria-hidden" => "true"}

.alert.alert-info{:role => "alert"}
  - if can? :edit, @registration_place
    ="Внимание! На данной странице возможен как просмотр, так и редактирование отдельных полей (через двойной щелчок по полю), при этом "
    %b
      ="производится автоматическое сохранение"
    =" каждого отдельного поля. "
    ="В связи с этим, если в карточке есть хотя бы одно неверное заполненное поле, то изменения не сохраняются."
    %br
    ="Чтобы изменить несколько полей, следует перейти в режим редактирования всей записи по кнопке «Редактировать»."
    ="Поля, заблокированные для редактирования, помечены серым цветом."
  -else
    ="Редактирование данной записи заблокировано."


%table
  %tr
    %th{:colspan=>4, :bgcolor => '#C0C0C0'}
      %center
        ="Общая информация о месте регистрации"

  %tr
    %th= t("registration_places.ate_id")
    - if can? :edit, @registration_place
      %td{:style => "border: 1px solid whitesmoke;"}= best_in_place @registration_place, :ate_id, :as => :select, :collection => @ates.map { |e| [e.id, e.name] }
    - else
      %td{:style => "border: 1px solid whitesmoke;", bgcolor: '#C0C0C0'}=@registration_place.ate.name.to_s

  %tr
    %th= t("registration_places.name")
    - if can? :edit, @registration_place
      %td{:colspan=>3, :style => "border: 1px solid whitesmoke;"}= best_in_place @registration_place, :name
    - else
      %td{:colspan=>3, bgcolor: '#C0C0C0', :style => "border: 1px solid whitesmoke;"}=@registration_place.name.to_s

  %tr
    %th= t("registration_places.address")
    - if can? :edit, @registration_place
      %td{:style => "border: 1px solid whitesmoke;"}= best_in_place @registration_place, :address
    - else
      %td{:colspan=>3, bgcolor: '#C0C0C0', :style => "border: 1px solid whitesmoke;"}=@registration_place.address.to_s

  %tr
    %th= t("registration_places.phones")
    - if can? :edit, @registration_place
      %td{:style => "border: 1px solid whitesmoke;", :colspan=>3}= best_in_place @registration_place, :phones
    - else
      %td{:colspan=>3, bgcolor: '#C0C0C0', :style => "border: 1px solid whitesmoke;"}=@registration_place.phones.to_s

  %tr
    %th= t("registration_places.site")
    - if can? :edit, @registration_place
      %td{:style => "border: 1px solid whitesmoke;", :colspan=>3}= best_in_place @registration_place, :site
    - else
      %td{:colspan=>3, bgcolor: '#C0C0C0', :style => "border: 1px solid whitesmoke;"}=@registration_place.site.to_s

  %tr
    %th= t("registration_places.additional_text")
    %td{:colspan=>3, bgcolor: '#F0F0F0', :style => "border: 1px solid whitesmoke;"}=@registration_place.formatted_body



-if @registration_places.count > 1
  .apple_pagination
    .pagination{:role => "navigation"}
      %span.previous_page.disabled
      - i = 1
      - lm = (@registration_places.count / 25).to_i
      - lmk = (@registration_place.code.to_i / lm).to_i
      -if @registration_places.count > 3
        -@registration_places.each do |r|
          -if ((r.code.to_i == @registration_places.first.code.to_i) or (r.code.to_i == @registration_places.last.code.to_i)) and (r.code.to_i != @registration_place.code.to_i)
            %a{:href => r.id.to_s}
              =r.code.to_s
          -else
            -if r.code.to_i == @registration_place.code.to_i
              %em.current{"aria-current" => "page"}
                =r.code.to_s
            -else
              -if ((r.code.to_i >= @registration_place.code.to_i - 8) and (r.code.to_i <= @registration_place.code.to_i + 8)) or r.code.to_i % lm == 0
                %a{:href => r.id.to_s}
                  =r.code.to_s
      %span.next_page.disabled

%div
  %hr
    = link_to registration_places_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку мест регистрации "
    \ 
    - if can? :edit, @registration_place
      = link_to edit_registration_place_path(@registration_place), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "

