.results-count.clear
  =t("messages.search.find_results")
  =@process_conditions.count
%table.table.table-bordered
  %thead
    %th= t("process_conditions.id")
    -#%th= t("process_conditions.code")
    %th= t("process_conditions.name")
    %th= t("process_conditions.actions.title")
  %tbody
    - @process_conditions.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= link_to pr.name.to_s, process_condition_path(pr)
        %td
          = link_to edit_process_condition_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to process_condition_path(pr), :method => :delete, :title => t("buttons.delete") do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @process_conditions.count > 20
  .apple_pagination
    = will_paginate @process_conditions