%td
  -# -if @ege_statement.bio?
  -#   %input#bio{:name => "ege_statement[bio]", :onclick => "el_view('bio', 'bio_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#bio{:name => "ege_statement[bio]", :onclick => "el_view('bio', 'bio_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :bio, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_bio', 'bio_date')"
  ="Биология"
  %td
    -subject = Subject.where(:subject_name => 'Биология').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.bio?
      %p#bio_date{:style => "display:none"}
        %select#bio_date{:name=>"ege_statement[bio_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#bio_date{:style => "display:block"}
        %select#bio_dates{:name=>"ege_statement[bio_date]", :onchange=>"val('bio_dates')"}
          -elems.each do |r|
            -if @ege_statement.bio_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
