%td
  -# -if @ege_statement.chem?
  -#   %input#chem{:name => "ege_statement[chem]", :onclick => "el_view('chem', 'chem_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#chem{:name => "ege_statement[chem]", :onclick => "el_view('chem', 'chem_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :chem, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_chem', 'chem_date')"
  ="Химия"
  %td
    -subject = Subject.where(:subject_name => 'Химия').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.chem?
      %p#chem_date{:style => "display:none"}
        %select#chem_date{:name=>"ege_statement[chem_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#chem_date{:style => "display:block"}
        %select#chem_dates{:name=>"ege_statement[chem_date]", :onchange=>"val('chem_dates')"}
          -elems.each do |r|
            -if @ege_statement.chem_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
