%td
  -# -if @ege_statement.lit?
  -#   %input#lit{:name => "ege_statement[lit]", :onclick => "el_view('lit', 'lit_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#lit{:name => "ege_statement[lit]", :onclick => "el_view('lit', 'lit_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :lit, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_lit', 'lit_date')"
  ="Литература"
  %td
    -subject = Subject.where(:subject_name => 'Литература').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.lit?
      %p#lit_date{:style => "display:none"}
        %select#lit_date{:name=>"ege_statement[lit_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#lit_date{:style => "display:block"}
        %select#lit_dates{:name=>"ege_statement[lit_date]", :onchange=>"val('lit_dates')"}
          -elems.each do |r|
            -if @ege_statement.lit_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
