%td
  -# -if @ege_statement.phys?
  -#   %input#phys{:name => "ege_statement[phys]", :onclick => "el_view('phys', 'phys_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#phys{:name => "ege_statement[phys]", :onclick => "el_view('phys', 'phys_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :phys, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_phys', 'phys_date')"
  ="Физика"
  %td
    -subject = Subject.where(:subject_name => 'Физика').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.phys?
      %p#phys_date{:style => "display:none"}
        %select#phys_date{:name=>"ege_statement[phys_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#phys_date{:style => "display:block"}
        %select#phys_dates{:name=>"ege_statement[phys_date]", :onchange=>"val('phys_dates')"}
          -elems.each do |r|
            -if @ege_statement.phys_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
