%td
  -# -if @ege_statement.deu?
  -#   %input#deu{:name => "ege_statement[deu]", :onclick => "el_view('deu', 'deu_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#deu{:name => "ege_statement[deu]", :onclick => "el_view('deu', 'deu_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :deu, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_deu', 'deu_date')"
  ="Немецкий язык"
  %td
    -subject = Subject.where(:subject_name => 'Немецкий язык').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.deu?
      %p#deu_date{:style => "display:none"}
        %select#deu_date{:name=>"ege_statement[deu_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#deu_date{:style => "display:block"}
        %select#deu_dates{:name=>"ege_statement[deu_date]", :onchange=>"val('deu_dates')"}
          -elems.each do |r|
            -if @ege_statement.deu_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
