%td
  -# -if @ege_statement.kit?
  -#   %input#kit{:name => "ege_statement[kit]", :onclick => "el_view('kit', 'kit_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#kit{:name => "ege_statement[kit]", :onclick => "el_view('kit', 'kit_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :kit, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_kit', 'kit_date')"
  ="Китайский язык"
  %td
    -subject = Subject.where(:subject_name => 'Китайский язык').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.kit?
      %p#kit_date{:style => "display:none"}
        %select#kit_date{:name=>"ege_statement[kit_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#kit_date{:style => "display:block"}
        %select#kit_dates{:name=>"ege_statement[kit_date]", :onchange=>"val('kit_dates')"}
          -elems.each do |r|
            -if @ege_statement.kit_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
