%td
  -# -if @ege_statement.eng?
  -#   %input#eng{:name => "ege_statement[eng]", :onclick => "el_view('eng', 'eng_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#eng{:name => "ege_statement[eng]", :onclick => "el_view('eng', 'eng_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :eng, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_eng', 'eng_date')"
  ="Английский язык"
  %td
    -subject = Subject.where(:subject_name => 'Английский язык').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.eng?
      %p#eng_date{:style => "display:none"}
        %select#eng_date{:name=>"ege_statement[eng_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#eng_date{:style => "display:block"}
        %select#eng_dates{:name=>"ege_statement[eng_date]", :onchange=>"val('eng_dates')"}
          -elems.each do |r|
            -if @ege_statement.eng_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
