%table.table-borderless{:style=>"width:100%;"}
  %tr{:valign=>"TOP"}
    %td{:style=>"width:30px;"}
      = best_in_place @ege_statement, :pdn, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "agreements('#{@ege_statement.id}', 'pdn')"
    %td
      ="Даю согласие на обработку персональных данных в порядке, установленном Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных», для формирования и ведения региональной информационной системы обеспечения проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего и среднего общего образования на территории Свердловской области, получения и обработки моих результатов."
  %tr{:valign=>"TOP"}
    %td
      = best_in_place @ege_statement, :low, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "agreements('#{@ege_statement.id}', 'low')"
    %td
      ="С порядком проведения государственной итоговой аттестации по образовательным программам среднего общего образования ознакомлен(а)."
  %tr{:valign=>"TOP"}
    %td
      = best_in_place @ege_statement, :noadd, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "agreements('#{@ege_statement.id}', 'noadd')"
    %td
      ="Об отсутствии права дополнительного выбора предмета после установленных сроков для сдачи единого государственного экзамена проинформирован(а)"
