%td
  -# -if @ege_statement.deuu?
  -#   %input#deuu{:name => "ege_statement[deuu]", :onclick => "el_view('deuu', 'deuu_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#deuu{:name => "ege_statement[deuu]", :onclick => "el_view('deuu', 'deuu_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :deuu, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_deuu', 'deuu_date')"
  ="Немецкий язык (устный)"
  %td
    -subject = Subject.where(:subject_name => 'Немецкий язык (устный)').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.deuu?
      %p#deuu_date{:style => "display:none"}
        %select#deuu_date{:name=>"ege_statement[deuu_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#deuu_date{:style => "display:block"}
        %select#deuu_dates{:name=>"ege_statement[deuu_date]", :onchange=>"val('deuu_dates')"}
          -elems.each do |r|
            -if @ege_statement.deuu_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
