%td
  -# -if @ege_statement.rus?
  -#   %input#rus{:name => "ege_statement[rus]", :onclick => "el_view('rus', 'rus_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#rus{:name => "ege_statement[rus]", :onclick => "el_view('rus', 'rus_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :rus, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_rus', 'rus_date')"
  ="Русский язык"
  %td
    -subject = Subject.where(:subject_name => 'Русский язык').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.rus?
      %p#rus_date{:style => "display:none"}
        %select#rus_date{:name=>"ege_statement[rus_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#rus_date{:style => "display:block"}
        %select#rus_dates{:name=>"ege_statement[rus_date]", :onchange=>"val('rus_dates')"}
          -elems.each do |r|
            -if @ege_statement.rus_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
