%td
  -# -if @ege_statement.kitu?
  -#   %input#kitu{:name => "ege_statement[kitu]", :onclick => "el_view('kitu', 'kitu_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#kitu{:name => "ege_statement[kitu]", :onclick => "el_view('kitu', 'kitu_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :kitu, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_kitu', 'kitu_date')"
  ="Китайский язык (устный)"
  %td
    -subject = Subject.where(:subject_name => 'Китайский язык (устный)').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.kitu?
      %p#kitu_date{:style => "display:none"}
        %select#kitu_date{:name=>"ege_statement[kitu_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#kitu_date{:style => "display:block"}
        %select#kitu_dates{:name=>"ege_statement[kitu_date]", :onchange=>"val('kitu_dates')"}
          -elems.each do |r|
            -if @ege_statement.kitu_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
