%td
  -# -if @ege_statement.geo?
  -#   %input#geo{:name => "ege_statement[geo]", :onclick => "el_view('geo', 'geo_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#geo{:name => "ege_statement[geo]", :onclick => "el_view('geo', 'geo_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :geo, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_geo', 'geo_date')"
  ="География"
  %td
    -subject = Subject.where(:subject_name => 'География').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.geo?
      %p#geo_date{:style => "display:none"}
        %select#geo_date{:name=>"ege_statement[geo_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#geo_date{:style => "display:block"}
        %select#geo_dates{:name=>"ege_statement[geo_date]", :onchange=>"val('geo_dates')"}
          -elems.each do |r|
            -if @ege_statement.geo_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
