%td
  -# -if @ege_statement.ispu?
  -#   %input#ispu{:name => "ege_statement[ispu]", :onclick => "el_view('ispu', 'ispu_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#ispu{:name => "ege_statement[ispu]", :onclick => "el_view('ispu', 'ispu_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :ispu, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_ispu', 'ispu_date')"
  ="Испанский язык (устный)"
  %td
    -subject = Subject.where(:subject_name => 'Испанский язык (устный)').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.ispu?
      %p#ispu_date{:style => "display:none"}
        %select#ispu_date{:name=>"ege_statement[ispu_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#ispu_date{:style => "display:block"}
        %select#ispu_dates{:name=>"ege_statement[ispu_date]", :onchange=>"val('ispu_dates')"}
          -elems.each do |r|
            -if @ege_statement.ispu_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
