%td
  -# -if @ege_statement.isp?
  -#   %input#isp{:name => "ege_statement[isp]", :onclick => "el_view('isp', 'isp_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#isp{:name => "ege_statement[isp]", :onclick => "el_view('isp', 'isp_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :isp, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_isp', 'isp_date')"
  ="Испанский язык"
  %td
    -subject = Subject.where(:subject_name => 'Испанский язык').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.isp?
      %p#isp_date{:style => "display:none"}
        %select#isp_date{:name=>"ege_statement[isp_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#isp_date{:style => "display:block"}
        %select#isp_dates{:name=>"ege_statement[isp_date]", :onchange=>"val('isp_dates')"}
          -elems.each do |r|
            -if @ege_statement.isp_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
