

-# = form_for @ege_statement do |f|
-#   .form-group
-#     = f.label :ate_id, "Ate:"
-#     = collection_select(:ege_statements,:ate_id,@ates,:id,:name, {:prompt => "Please select an ATE"}, {:class => "ate_selection"})
-#     = f.label :registration_place_id, "Registration Place:"
-#     = f.collection_select :registration_place_id, @registration_places, :id, :name, {:prompt => "Select a Registration Places"}, {:class=>"registration_place_selection"}

-# Внёс
-# :ate_id, :surname, :name, :second_name, :document_type_id, :document_series, :document_number
-# :birthday, :gender, :snils, citizenship_id, :citizenship_country

!!!
%html
  %head
    -#%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    -#%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"}
    -#%link{:href => "/flatpickr_dist/css/bootstrap-select.css", :rel => "stylesheet"}
    -#%script{:src => "/flatpickr_dist/js/bootstrap-select.js"}
  %body

    -#%select.selectpicker{"data-live-search" => "true"}
    -#  %option{"data-tokens" => "ketchup mustard"} Hot Dog, Fries and a Soda
    -#  %option{"data-tokens" => "mustard"} Burger, Shake and a Smile
    -#  %option{"data-tokens" => "frosting"} Sugar, Spice and all things nice
    -#
    -#%select#lunchBegins.selectpicker{"data-live-search" => "true", "data-live-search-style" => "begins", :title => "Please select a lunch ..."}
    -#  %option Hot Dog, Fries and a Soda
    -#  %option Burger, Shake and a Smile
    -#  %option Sugar, Spice and all things nice
    -#  %option Baby Back Ribs
    -#  %option A really really long option made to illustrate an issue with the live search in an inline form

    = form_for @ege_statement do |f|
      =f.hidden_field :user_id, :value=>current_user.id

      -#Do you have lipstick?
      -#\#{link_to "Yes", onclick: @a=0}#{link_to "No", onclick: @a=1}
      -#- if params[:onclick].to_i == 1
      -#  = f.label :ate_id, "Stuff I need"
      -#  = f.select :ate_id, ['lipstick'], { :include_blank => 'Selector' }, :class => "the_input_class", :required => true
      -#- else
      -#  %br/
      -#  = f.label :explain_yoself, "Select what you need"
      -#  = f.select :citizenship_id, ['cat', 'dog', 'purse', 'fish'], { :include_blank => 'Selector' }, :required => true
      -#  = f.text_area :citizenship_country


      .form-group

        .card
          .card-header
            Персональные данные заявителя
          .card-body
            -#%h5.card-title Тип образовательной организации
            %p.card-text
              %p="Персональные данные заявителя собираются в соответствии с Постановлением Правительства Российской Федерации от 31 августа 2013 г. №755 «О федеральной информационной системе обеспечения проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего и среднего общего образования, и приема граждан в образовательные организации для получения среднего профессионального и высшего образования и региональных информационных системах обеспечения проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего и среднего общего образования»"
              %p="Продолжая работу в системе, Вы соглашаетесь на автоматизированную обработку Ваших персональных данных в объёме: Фамилия, Имя, Отчество, дата рождения, серия и номер документа, удостоверяющего личность, гражданство, муниципальное образование-место проживания, пол, дата рождения, СНИЛС, категория участника ЕГЭ, наличие действующих результатов ГИА по русскому языку и математике, скан-копия документа об образовании, сведения о документе об образовании, электронная почта, телефон."
              %p="Все эти сведения будут использованы с целью внесения данных об участнике ЕГЭ в информационные системы, срок хранения которых и порядок уничтожения определён вышеупомянутым постановлением Правительства Российской Федерации от 31 августа 2013 г. №755."

              %table.table-bordered.table-striped{:style=>"width:100%;"}
                %tr
                  %th{:colspan=>3}
                    %center
                      = "Выберите муниципальное образование, в котором Вы проживаете"
                %tr
                  %td{:colspan=>3}
                    %center
                      = best_in_place @ege_statement, :ate_id, :as => :select, :collection => @ates.map { |e| [e.id, e.name] }
                %tr
                  %th{:colspan=>1}
                    %center
                      = "Гражданство"
                  %th{:colspan=>2}
                    %center
                      = "Страна (заполняется, если не Российская Федерация)"
                %tr
                  %td{:colspan=>1}
                    %center
                      = best_in_place @ege_statement, :citizenship_id, :as => :select, :collection => @citizenships.map { |e| [e.id, e.name] }
                  %td{:colspan=>2}
                    %center
                      = best_in_place @ege_statement, :citizenship_country


                %tr
                  %th
                    %center
                      = t("ege_statements.surname")
                  %th
                    %center
                      = t("ege_statements.name")
                  %th
                    %center
                      = t("ege_statements.second_name")
                %tr
                  %td= best_in_place @ege_statement, :surname
                  %td= best_in_place @ege_statement, :name
                  %td= best_in_place @ege_statement, :second_name
                %tr
                  %th
                    %center
                      = t("ege_statements.gender")
                  %th
                    %center
                      = t("ege_statements.birthday")
                  %th
                    %center
                      = t("ege_statements.snils")
                %tr
                  %td= best_in_place @ege_statement, :gender, as: :checkbox, collection: {false: "Женский", true: "Мужской"}
                  %td= best_in_place @ege_statement, :birthday, :type=>:date, id: "date_input", display_as: :formatted_date
                  %td= best_in_place @ege_statement, :snils

                %tr
                  %th
                    %center
                      = t('ege_statements.document_type_id')
                  %th
                    %center
                      = t("ege_statements.document_series")
                  %th
                    %center
                      = t("ege_statements.document_number")
                %tr
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :document_type_id, :as => :select, :collection => @document_types.map { |e| [e.id, e.name] }
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :document_series
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :document_number

                %tr
                  %th
                    %center
                      = "Кем выдан документ (как в документе)"
                  %th
                    %center
                      = "Когда выдан документ (как в документе)"
                  %th
                    %center
                      = "Телефон для связи"
                %tr
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :document_vydan_kem
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :document_vydan_kogda, :type=>:date, display_as: :formatted_kogda
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :phone


        %br

        .card
          .card-header
            Данные для заявления
          .card-body
            -#%h5.card-title Тип образовательной организации
            %p.card-text
              %p="Просим правильно выбрать одну из категорий участника. В соответствии с пунктом 9.1 Порядка:"
              %p="Выпускники прошлых лет - это граждане, освоившие образовательные программы среднего общего образования в предыдущие годы и имеющие документ об образовании, подтверждающий получение среднего общего образования (или образовательные программы среднего (полного) общего образования - для лиц, получивших документ об образовании, подтверждающий получение среднего (полного) общего образования, до 1 сентября 2013 года), граждане, имеющие среднее общее образование, полученное в иностранных образовательных организациях."
              %p="Обучающиеся в образовательной организации среднего профессионального образования - граждане, обучающиеся по образовательным программам среднего профессионального образования."
              %p="Обучающиеся в иностранных образовательных организациях - граждане, получающие среднее общее образование в иностранных образовательных организациях."
              %table.table-bordered.table-striped{:style=>"width:100%;"}
                %tr
                  %th{:colspan=>3}
                    %center
                      = "Категория участника"
                %tr
                  %td{:colspan=>3}
                    %center
                      = best_in_place @ege_statement, :ege_participant_category_id, :as => :select, :collection => @ege_participant_categories.map { |e| [e.id, e.name] }
                %tr
                  %th
                    %center
                      = "Есть действующие результаты по русскому языку"
                  %th
                    %center
                      = "Есть действующие результаты по математике"
                  %th
                    %center
                      = "Требуются спецусловия (понадобится справка МСЭ или ПМПК)"
                %tr
                  %td= best_in_place @ege_statement, :gia_active_results_rus, as: :checkbox, collection: {false: "Нет, результаты отсутствуют", true: "Да, есть результаты"}
                  %td= best_in_place @ege_statement, :gia_active_results_math, as: :checkbox, collection: {false: "Нет, результаты отсутствуют", true: "Да, есть результаты"}
                  %td= best_in_place @ege_statement, :is_ovz, as: :checkbox, collection: {false: "Нет ограничений", true: "Есть ограничения"}


                %tr
                  %th
                    %center
                      ="Скан-копия документа об образовании"
                  %th
                    %center
                      ="Серия документа"
                  %th
                    %center
                      ="Номер документа"
                %tr
                  %td{:colspan=>3}
                    %center
                      ="Аттестат или справка с места учёбы, указывающая на окончание учёбы в текущем учебном году."
                %tr
                  %th
                    %td{:colspan=>3}=""
                %tr
                  %td
                    -if !@ege_statement.education_scan.nil?
                      %strong Приложенный файл:
                      %ul
                        =@ege_statement.education_scan.to_s[1..30]
                    .field
                      = f.file_field :education_scan, multiple: false
                  %td= best_in_place @ege_statement, :education_series
                  %td= best_in_place @ege_statement, :education_number
                %tr
                  %th
                    %center
                      ="Регион окончания учебного заведения"
                  %th
                    %center
                      ="Дата выдачи документа образовании"
                  %th
                    %center
                      ="Образовательная организация, выдавшая документ"
                %tr
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :region_id, :as => :select, :collection => @regions.map { |e| [e.id, e.name] }
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :school_outcoming_year
                  %td{:style => "width:250px;"}= best_in_place @ege_statement, :school_outcoming


                %tr
                  %th{:colspan=>3}
                    %center
                      = "Выберите место для предоставления оригиналов документов"
                %tr
                  %td{:colspan=>3}
                    %center
                      = best_in_place @ege_statement, :registration_place_id, :as => :select, :collection => @registration_places.map { |e| [e.id, e.address] }



        %br

        .card
          .card-header
            Выбор перечня предметов
          .card-body
            -#%h5.card-title Тип образовательной организации
            %p.card-text
              %table.table-bordered.table-striped{:style=>"width:100%;"}
                %p="В соответствии с расписанием ГИА, для выпускников прошлых лет ЕГЭ проводится в досрочный период, но не ранее 1 марта, и (или) в резервные сроки основного периода."
                %p="В соответствии с расписанием ГИА, для учащихся СПО и учащихся иностранных образовательных организаций ЕГЭ проводится в досрочный или основной период в основные сроки."
                %p="Вам необходимо внимательно проверить, какие даты Вы выбрали для участия в ЕГЭ."
                %tr
                  %th{:style => "width:250px;"}
                    %center
                      ="Предмет"
                  %th{:style => "width:250px;"}
                    %center
                      ="Дата"
                  %th{:style => "width:250px;"}
                    %center
                      ="Предмет"
                  %th{:style => "width:250px;"}
                    %center
                      ="Дата"

                %tr
                  = render :partial => 'edit_rus'
                  = render :partial => 'edit_eng'

                %tr
                  = render :partial => 'edit_math'
                  = render :partial => 'edit_engu'

                %tr
                  = render :partial => 'edit_phys'
                  = render :partial => 'edit_deu'

                %tr
                  = render :partial => 'edit_chem'
                  = render :partial => 'edit_deuu'

                %tr
                  = render :partial => 'edit_inf'
                  = render :partial => 'edit_fra'

                %tr
                  = render :partial => 'edit_bio'
                  = render :partial => 'edit_frau'

                %tr
                  = render :partial => 'edit_his'
                  = render :partial => 'edit_isp'

                %tr
                  = render :partial => 'edit_geo'
                  = render :partial => 'edit_ispu'

                %tr
                  = render :partial => 'edit_lit'
                  = render :partial => 'edit_kit'

                %tr
                  = render :partial => 'edit_soc'
                  = render :partial => 'edit_kitu'


        %br
        %p="После нажатия на кнопку «Сохранить», Вы сможете перейти к предварительной проверке Вашего заявления и формированию PDF-файла заявления, посмотреть информацию о месте приёма заявления."

        %br
        .form-actions
          = f.submit @ege_statement.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"


:javascript
      function el_view(el, el_dates) {
        var checkBox = document.getElementById(el);
        var text = document.getElementById(el_dates);
        if (checkBox.innerText == '☑'){
          text.style.display = "none";
        } else {
           text.style.display = "block";
        }
      }

  function hasDuplicates(array) {
    return (new Set(array)).size !== array.length;
  }

  function val(el_date) {

      let nnames = ['rus', 'math', 'phys', 'chem', 'bio', 'his', 'geo', 'lit', 'soc', 'eng', 'engu', 'deu', 'deuu', 'fra', 'frau', 'isp', 'ispu', 'kit', 'kitu']
      let d = []
      var index;
      for (index = 0; index < nnames.length; ++index) {
        if (document.getElementById(nnames[index]+'_dates'))
        {
          d.push(document.getElementById(nnames[index]+'_dates').value);
        }
      }
      if (hasDuplicates(d))
      {
        alert('Внимание! В выборе дат есть дубликаты. Это необходимо исправить.');
      }

  }
