%td
  -# -if @ege_statement.frau?
  -#   %input#frau{:name => "ege_statement[frau]", :onclick => "el_view('frau', 'frau_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#frau{:name => "ege_statement[frau]", :onclick => "el_view('frau', 'frau_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :frau, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_frau', 'frau_date')"
  ="Французский язык (устный)"
  %td
    -subject = Subject.where(:subject_name => 'Французский язык (устный)').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.frau?
      %p#frau_date{:style => "display:none"}
        %select#frau_date{:name=>"ege_statement[frau_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#frau_date{:style => "display:block"}
        %select#frau_dates{:name=>"ege_statement[frau_date]", :onchange=>"val('frau_dates')"}
          -elems.each do |r|
            -if @ege_statement.frau_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
