%td
  -# -if @ege_statement.inf?
  -#   %input#inf{:name => "ege_statement[inf]", :onclick => "el_view('inf', 'inf_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#inf{:name => "ege_statement[inf]", :onclick => "el_view('inf', 'inf_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :inf, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_inf', 'inf_date')"
  ="Информатика и ИКТ"
  %td
    -subject = Subject.where(:subject_name => 'Информатика и ИКТ').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.inf?
      %p#inf_date{:style => "display:none"}
        %select#inf_date{:name=>"ege_statement[inf_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#inf_date{:style => "display:block"}
        %select#inf_dates{:name=>"ege_statement[inf_date]", :onchange=>"val('inf_dates')"}
          -elems.each do |r|
            -if @ege_statement.inf_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
