%td
  -# -if @ege_statement.engu?
  -#   %input#engu{:name => "ege_statement[engu]", :onclick => "el_view('engu', 'engu_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#engu{:name => "ege_statement[engu]", :onclick => "el_view('engu', 'engu_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :engu, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_engu', 'engu_date')"
  ="Английский язык (устный)"
  %td
    -subject = Subject.where(:subject_name => 'Английский язык (устный)').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.engu?
      %p#engu_date{:style => "display:none"}
        %select#engu_date{:name=>"ege_statement[engu_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#engu_date{:style => "display:block"}
        %select#engu_dates{:name=>"ege_statement[engu_date]", :onchange=>"val('engu_dates')"}
          -elems.each do |r|
            -if @ege_statement.engu_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
