%td
  -# -if @ege_statement.soc?
  -#   %input#soc{:name => "ege_statement[soc]", :onclick => "el_view('soc', 'soc_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#soc{:name => "ege_statement[soc]", :onclick => "el_view('soc', 'soc_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :soc, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_soc', 'soc_date')"
  ="Обществознание"
  %td
    -subject = Subject.where(:subject_name => 'Обществознание').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.soc?
      %p#soc_date{:style => "display:none"}
        %select#soc_date{:name=>"ege_statement[soc_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#soc_date{:style => "display:block"}
        %select#soc_dates{:name=>"ege_statement[soc_date]", :onchange=>"val('soc_dates')"}
          -elems.each do |r|
            -if @ege_statement.soc_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
