%td
  -# -if @ege_statement.fra?
  -#   %input#fra{:name => "ege_statement[fra]", :onclick => "el_view('fra', 'fra_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#fra{:name => "ege_statement[fra]", :onclick => "el_view('fra', 'fra_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :fra, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_fra', 'fra_date')"
  ="Французский язык"
  %td
    -subject = Subject.where(:subject_name => 'Французский язык').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.fra?
      %p#fra_date{:style => "display:none"}
        %select#fra_date{:name=>"ege_statement[fra_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#fra_date{:style => "display:block"}
        %select#fra_dates{:name=>"ege_statement[fra_date]", :onchange=>"val('fra_dates')"}
          -elems.each do |r|
            -if @ege_statement.fra_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
