%td
  -# -if @ege_statement.math?
  -#   %input#math{:name => "ege_statement[math]", :onclick => "el_view('math', 'math_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#math{:name => "ege_statement[math]", :onclick => "el_view('math', 'math_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :math, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_math', 'math_date')"
  ="Математика профильная"
  %td
    -subject = Subject.where(:subject_name => 'Математика профильная').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.math?
      %p#math_date{:style => "display:none"}
        %select#math_date{:name=>"ege_statement[math_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#math_date{:style => "display:block"}
        %select#math_dates{:name=>"ege_statement[math_date]", :onchange=>"val('math_dates')"}
          -elems.each do |r|
            -if @ege_statement.math_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
