%td
  -# -if @ege_statement.his?
  -#   %input#his{:name => "ege_statement[his]", :onclick => "el_view('his', 'his_date')", :type => "checkbox", :checked=>'checked'}
  -# -else
  -#   %input#his{:name => "ege_statement[his]", :onclick => "el_view('his', 'his_date')", :type => "checkbox"}
  = best_in_place @ege_statement, :his, as: :checkbox, collection: {false: "☐", true: "☑"}, :onclick => "el_view('best_in_place_ege_statement_#{@ege_statement.id}_his', 'his_date')"
  ="История"
  %td
    -subject = Subject.where(:subject_name => 'История').first
    -elems = @exams.where(:subject_id => subject.id)
    -if !@ege_statement.his?
      %p#his_date{:style => "display:none"}
        %select#his_date{:name=>"ege_statement[his_date]"}
          -elems.each do |r|
            %option
              -if r.is_reserv == true
                ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
              -else
                ="#{r.exam_wave.short_name} #{r.formatted_date}"
    -else
      %p#his_date{:style => "display:block"}
        %select#his_dates{:name=>"ege_statement[his_date]", :onchange=>"val('his_dates')"}
          -elems.each do |r|
            -if @ege_statement.his_date != r.formatted_date
              %option{:value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
            -else
              %option{:selected=>'selected', :value=>r.formatted_date}
                -if r.is_reserv == true
                  ="#{r.exam_wave.short_name} #{r.formatted_date} (Резерв)"
                -else
                  ="#{r.exam_wave.short_name} #{r.formatted_date}"
