-if !@ege_statements.nil?
  %p
    = I18n.t :ege_statement, count: @ege_statements.count

-if @ege_statements.count > 20
  .apple_pagination
    = will_paginate @ege_statements

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      -#%th= t("ege_statements.code")
      %th= t("ege_statements.full_name")
      %th= t("ege_statements.ate_id")
      -#%th= t("ege_statements.fisgia9code")
      -#%th= t("ege_statements.fisgia11code")
      -#%th= t("ege_statements.sort_by")
      %th= t("ege_statements.actions.title")
    %tbody
      - @ege_statements.each do |row|
        -if can? :read, row
          %tr
            -#%td= row.code.to_s
            %td= link_to "#{row.surname.to_s} #{row.name.to_s} #{row.second_name.to_s}", ege_statement_path(row)
            %td= row.ate
            %td
              - if can? :edit, row
                = link_to edit_ege_statement_path(row) do
                  = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
              - if (can? :edit, row) and  (can? :delete, row)
                = "  "
              - if can? :export, row
                = link_to ege_statement_path(row) do
                  = image_tag('pdf.png', size: "24", :tooltip=>t("edit"))
              - if (can? :edit, row) and  (can? :delete, row)
                = "  "
              - if can? :delete, row
                = link_to ege_statement_path(row), :method => :delete,  data: { confirm: t('ege_statements.delete_confirm')} do
                  = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @ege_statements.count > 20
  .apple_pagination
    = will_paginate @ege_statements
