%table.table-bordered{:style=>"width:100%;"}
  %tr
    %td=""
    %td=""
    %td{:style=>"width:350px;"}
      ="Председателю Государственной"
      %br
      ="экзаменационной комиссии"
      %br
      ="Свердловской области"
      %br
      ="Ю.И. Биктуганову"
  %tr
    %td=""
    %th{:style=>"width:350px;"}
      %center
        ="ЗАЯВЛЕНИЕ"
        %br
        ="об участии в ЕГЭ"
    %td=""

  %tr
    %td
      %br
  %tr
    %td=""
    %td
      %center
        ="Я, #{@ege_statement.surname} #{@ege_statement.name} #{@ege_statement.second_name},"
        %br
        %br
    %td=""
  %tr
    %td{:colspan=>3}
      -if @ege_statement.ege_participant_category.name == 'Выпускник прошлых лет'
        -if @ege_statement.gender
          ="являюсь выпускником прошлых лет, окончившим в #{@ege_statement.school_outcoming_year} году образовательную организацию #{@ege_statement.school_outcoming}."
        -else
          ="являюсь выпускницей прошлых лет, окончившей в #{@ege_statement.school_outcoming_year} году образовательную организацию #{@ege_statement.school_outcoming}."
      -elsif @ege_statement.ege_participant_category.name == 'Учащийся по образовательным программам среднего профессионального образования'
        -if @ege_statement.gender
          ="являюсь обучающимся по образовательным программам среднего профессионального образования #{@ege_statement.school_outcoming}."
        -else
          ="являюсь обучающейся по образовательным программам среднего профессионального образования #{@ege_statement.school_outcoming}."
      -elsif @ege_statement.ege_participant_category.name == 'Учащийся по образовательным программам среднего профессионального образования'
        ="являюсь гражданином, получающим среднее общее образование в образовательной организации иностранного государства #{@ege_statement.citizenship_country}, #{@ege_statement.school_outcoming}."
      %br
      ="Имею гражданство: #{@ege_statement.citizenship.name} #{@ege_statement.citizenship_country}."
      %br
      ="Документ, удостоверяющий личность: #{@ege_statement.document_type.name} серия #{@ege_statement.document_series} номер #{@ege_statement.document_number}, выдан #{@ege_statement.document_vydan_kem} #{@ege_statement.document_vydan_kogda.strftime("%d.%m.%Y")}."
      %br
      ="Дата рождения: #{@ege_statement.formatted_date}, проживаю по адресу #{@ege_statement.address}; контактный телефон #{@ege_statement.phone}; email #{@ege_statement.user.email}."
      %br
      %br
      ="Имею документ об образовании: #{@ege_statement.school_outcoming} #{@ege_statement.education_series} № #{@ege_statement.education_number}, выдан в #{@ege_statement.school_outcoming_year} году, подтверждающий получение"
      %br
      %table.table-borderless
        %tr
          %td="☐ основного общего образования;"
          %td="☐ начального профессионального образования;"
        %tr
          %td="☐ среднего общего образования;"
          %td="☐ среднего профессионального образования"
      %br
      -dosr = Exam.joins(:exam_wave).where("exam_waves.name = 'Досрочный этап'").map(&:examdate)
      -osn = Exam.joins(:exam_wave).where("exam_waves.name = 'Основной этап'").map(&:examdate)
      -is_osn = false
      -is_dosr = false
      -ddates = []
      -subjs = ['Русский язык', 'Математика профильная', 'Физика', 'Химия', 'Биология', 'История', 'География', 'Литература', 'Обществознание', 'Английский язык', 'Английский язык (устный)', 'Немецкий язык', 'Немецкий язык (устный)', 'Французский язык', 'Французский язык (устный)', 'Испанский язык', 'Испанский язык (устный)', 'Китайский язык', 'Китайский язык (устный)']
      -nnames = ['rus', 'math', 'phys', 'chem', 'bio', 'his', 'geo', 'lit', 'soc', 'eng', 'engu', 'deu', 'deuu', 'fra', 'frau', 'isp', 'ispu', 'kit', 'kitu']
      -nnames.each do |n|
        -if @ege_statement.read_attribute(n)
          -if dosr.include? @ege_statement.read_attribute(n+'_date')
            -is_dosr = true
          -if osn.include? @ege_statement.read_attribute(n+'_date')
            -is_osn = true
      ="Прошу зарегистрировать меня для участия в государственной итоговой аттестации в форме ЕГЭ в "
      -if is_dosr == true
        ="☑ досрочный"
      -else
        ="☐ досрочный"
      =", "
      -if is_osn == true
        ="☑ основной"
      -else
        ="☐ основной"
      =" период 2022 года по следующим общеобразовательным предметам:"
  %tr
    %td{:colspan=>3}
      %table.table-bordered{:style=>"width:100%;"}
        %tr
          %th{:style => "width:250px;"}
            %center
              ="Предмет"
          %th{:style => "width:250px;"}
            %center
              ="Дата"
          %th{:style => "width:250px;"}
            %center
              ="Предмет"
          %th{:style => "width:250px;"}
            %center
              ="Дата"

        %tr
          = render :partial => 'list_rus'
          = render :partial => 'list_eng'

        %tr
          = render :partial => 'list_math'
          = render :partial => 'list_engu'

        %tr
          = render :partial => 'list_phys'
          = render :partial => 'list_deu'

        %tr
          = render :partial => 'list_chem'
          = render :partial => 'list_deuu'

        %tr
          = render :partial => 'list_inf'
          = render :partial => 'list_fra'

        %tr
          = render :partial => 'list_bio'
          = render :partial => 'list_frau'

        %tr
          = render :partial => 'list_his'
          = render :partial => 'list_isp'

        %tr
          = render :partial => 'list_geo'
          = render :partial => 'list_ispu'

        %tr
          = render :partial => 'list_lit'
          = render :partial => 'list_kit'

        %tr
          = render :partial => 'list_soc'
          = render :partial => 'list_kitu'
  %tr
    %td{:colspan=>3}
      ="с предоставлением дополнительных условий (указать каких):"
      %br
      %hr
  %tr
    %td{:colspan=>3}
      %table.table-borderless
        %tr
          %td="Рассадка:"
          %td="☐ специализированная рассадка;"
        %tr
          %td=""
          %td="☐ отдельная аудитория;"
        %tr
          %td=""
          %td="☐ со всеми участниками;"
      ="в связи с тем, что являюсь "
      %br
      %hr
  %tr
    %td{:colspan=>3}
      ="Вид заболевания: __________________________________________________________________."
      %br
      ="К заявлению прилагается:"
      %br
      ="☐ заключение психолого-медико-педагогической комиссии от «___» ___________ г. № ________;"
      %br
      ="☐ справка, подтверждающая факт установления инвалидности, выданная федеральным государственным учреждением медико-социальной экспертизы, от «___» _____________ г. № ____________________."
  %tr
    %td{:colspan=>3}
      %br
      ="Даю согласие на обработку персональных данных в порядке, установленном Федеральным законом от 27 июля 2006 года № 152-ФЗ «О персональных данных», для формирования и ведения региональной информационной системы обеспечения проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего и среднего общего образования на территории Свердловской области, получения и обработки моих результатов."
      %br
      %br
      ="С порядком проведения ГИА ознакомлен(а) «____» _________________ 20____ г."
      %br
      ="Об отсутствии права дополнительного выбора предмета после установленных сроков для сдачи ЕГЭ проинформирован(а) «____» _________________ 20____ г."
      %br
      %br
      ="Подпись участника _________________________."
  %tr
    %td{:colspan=>3}
      ="Фамилия, имя, отчество, подпись родителя/законного представителя (для граждан, не достигших 18-летнего возраста): "
      %br
      %hr
      %br
  %tr
    %td{:colspan=>3}
      ="Дата подачи заявления «___» _______________ 20___ г."
      %br
  %tr
    %td{:colspan=>3}
      %br
      ="Заявление принял:"
      %br
        %center
          ="_____________________________________  ______________________  _____________"
          %br
          ="(должность) 					(ФИО) 			(подпись)"
  %tr
    %br
    %br
    %td{:colspan=>3}
      ="Регистрационный № ___________"
