.row
  .span9
    %h3.pull-left
      .text3d= t("ege_statements.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag ege_statements_path, :method => 'get', :id => "ege_statements_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, EgeStatement
              = link_to new_ege_statement_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, EgeStatement) and (can? :export, EgeStatement)
              =" | "
            - if can? :export, EgeStatement
              = link_to ege_statements_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, EgeStatement) and (can? :import, EgeStatement)
              =" | "
            - if can? :import, EgeStatement
              = link_to new_ege_statements_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}