%h1 Анализ данных в заявлении на ЕГЭ

-error=''
-errors=0
-if @ege_statement.surname.nil?
  -errors+=1
  -error+='<li>Не заполнена Фамилия (обязательное поле)</li>'
-if @ege_statement.name.nil?
  -errors+=1
  -error+='<li>Не заполнено Имя (обязательное поле)</li>'
-if @ege_statement.birthday.nil?
  -errors+=1
  -error+='<li>Не заполнена дата рождения</li>'
-else
  -if @ege_statement.birthday > Time.parse('2007-01-01')
    -errors+=1
    -error+="<li>Некорректная дата рождения #{@ege_statement.birthday}</li>"
  -if @ege_statement.birthday < Time.parse('1955-01-01')
    -errors+=1
    -error+="<li>Некорректная дата рождения #{@ege_statement.birthday}</li>"

-if @ege_statement.document_type_id.nil?
  -errors+=1
  -error+='<li>Не выбран тип документа</li>'
-else
  -if !@ege_statement.document_series.nil?
    -if !(@ege_statement.document_series.gsub('нет', '').match? @ege_statement.document_type.series_mask)
      -errors+=1
      -error+='<li>Серия документа заполнена неверно для выбранного вида документа</li>'
  -else
    -errors+=1
    -error+='<li>Не заполнена серия документа (при отсутствии следует заполнить «нет»</li>'
  -if !@ege_statement.document_number.nil?
    -if !(@ege_statement.document_number.match? @ege_statement.document_type.number_mask)
      -errors+=1
      -error+='<li>Номер документа заполнен неверно для выбранного вида документа</li>'
  -else
    -errors+=1
    -error+='<li>Не заполнен номер документа, удостоверяющего личность</li>'

-if @ege_statement.document_vydan_kem.nil?
  -errors+=1
  -error+='<li>Не указано место получения документа, удостоверяющего личность</li>'

-if @ege_statement.document_vydan_kogda.nil?
  -errors+=1
  -error+='<li>Не указана дата получения документа, удостоверяющего личность</li>'


-if @ege_statement.gender.nil?
  -errors+=1
  -error+='<li>Не выбран пол заявителя</li>'

-if @ege_statement.citizenship_id.nil?
  -errors+=1
  -error+='<li>Не выбрано гражданство заявителя</li>'

-if @ege_statement.snils.nil?
  -errors+=1
  -error+='<li>Не введён СНИЛС</li>'
-else
  -#312 545 138 35
  -#199-853-269 54
  -#312-545-138 35
  -if @ege_statement.snils.gsub(' ', '').downcase != 'нет'
    -snils = @ege_statement.snils.gsub('-', '').gsub(' ', '')
    -snils = "#{snils[0..2]}-#{snils[3..5]}-#{snils[6..8]}".gsub(' ', '') + " " + "#{snils[9..10]}".gsub(' ', '')
    -# =snils
    -if !(snils.match? '(\d{3})\-(\d{3})\-(\d{3}) \d{2}')
      -errors+=1
      -error+='<li>СНИЛС заполнен неверно</li>'

-if @ege_statement.phone.nil?
  -errors+=1
  -error+='<li>Не введён телефон заявителя</li>'

-if @ege_statement.ege_participant_category_id.nil?
  -errors+=1
  -error+='<li>Не выбрана категория участника ЕГЭ</li>'

-if @ege_statement.gia_active_results_rus.nil?
  -errors+=1
  -error+='<li>Не указано, есть ли действующие результаты ГИА по русскому языку</li>'

-if @ege_statement.gia_active_results_rus.nil?
  -errors+=1
  -error+='<li>Не указано, есть ли действующие результаты ГИА по математике</li>'

-if @ege_statement.region_id.nil?
  -errors+=1
  -error+='<li>Не указан регион окончания образовательной организации</li>'

-if @ege_statement.education_scan.nil?
  -errors+=1
  -error+='<li>Не загружен документ об образовании</li>'

-if @ege_statement.school_outcoming.nil?
  -errors+=1
  -error+='<li>Не указана выпускная образовательная организация</li>'

-if @ege_statement.school_outcoming_year.nil?
  -errors+=1
  -error+='<li>Не указан год окончания образовательной организации</li>'

-if @ege_statement.education_series.nil?
  -errors+=1
  -error+='<li>Не указана серия документа об образовании (при отсутствии следует заполнить «нет»)</li>'

-if @ege_statement.education_number.nil?
  -errors+=1
  -error+='<li>Не указан номер документа об образовании (при отсутствии следует заполнить «-»)</li>'

-if @ege_statement.is_ovz.nil?
  -errors+=1
  -error+='<li>Не указано наличие ограниченных возможностей здоровья, подтверждённых документально (справка ПМПК или МСЭ)</li>'

-if @ege_statement.ate_id.nil?
  -errors+=1
  -error+='<li>Не указан муниципалитет проживания</li>'

-if @ege_statement.registration_place_id.nil?
  -errors+=1
  -error+='<li>Не выбрано место подачи заявления</li>'

-spo_dates = Exam.where(:is_reserv => false).map(&:examdate).uniq
-vpl_dates = Exam.where(:is_reserv => true) + Exam.joins(:exam_wave).where("exam_waves.name = 'Досрочный этап'")
-vpl_dates = vpl_dates.map(&:examdate).uniq

-#%p
-#  ="Даты для СПО:"
-#  =spo_dates.join(', ')
-#%p
-#  ="Даты для ВПЛ"
-#  =vpl_dates.join(', ')

-ddates = []
-subjs = ['Русский язык', 'Математика профильная', 'Физика', 'Химия', 'Биология', 'История', 'География', 'Литература', 'Обществознание', 'Английский язык', 'Английский язык (устный)', 'Немецкий язык', 'Немецкий язык (устный)', 'Французский язык', 'Французский язык (устный)', 'Испанский язык', 'Испанский язык (устный)', 'Китайский язык', 'Китайский язык (устный)']
-nnames = ['rus', 'math', 'phys', 'chem', 'bio', 'his', 'geo', 'lit', 'soc', 'eng', 'engu', 'deu', 'deuu', 'fra', 'frau', 'isp', 'ispu', 'kit', 'kitu']
-nnames.each do |n|
  -if @ege_statement.read_attribute(n)
    -ddates << @ege_statement.read_attribute(n+'_date')

-if ddates != ddates.uniq
  -errors+=1
  -error+='<li>Выбраны повторяющиеся даты экзаменов</li>'
-else
  -ddates.each do |d|
    -if !@ege_statement.ege_participant_category_id.nil?
      -if @ege_statement.ege_participant_category.name == 'Выпускник прошлых лет'
        -if !(vpl_dates.include? d)
          -i = 0
          -nnames.each do |n|
            -if @ege_statement.read_attribute(n)
              -if d == @ege_statement.read_attribute(n+'_date')
                -subj = subjs[i]
                -i = i + 1
                -subject_id = Subject.where(:subject_name => subj).first.id
                -subjdates = Exam.where(:subject_id => subject_id).where(:examdate => vpl_dates).map(&:examdate)
                -ssj = 0
                -sssj = []
                -subjdates.each do |s|
                  -if !(ddates.include? s)
                    -ssj += 1
                    -sssj << s
                -if ssj > 0
                  -errors+=1
                  -error+="<li>Дата #{d.strftime("%d.%m.%Y")} не входит в список разрешённых для выпускников прошлых лет, вам следует выбрать одну доступных #{ssj} дат (#{sssj.join(', ')}) по предмету #{subj}</li>"

      -elsif @ege_statement.ege_participant_category.name == 'Обучающийся образовательной организации начального или среднего профессионального образования'
        -if !(spo_dates.include? d)
          -i = 0
          -nnames.each do |n|
            -if @ege_statement.read_attribute(n)
              -if d == @ege_statement.read_attribute(n+'_date')
                -subj = subjs[i]
                -i = i + 1
                -subject_id = Subject.where(:subject_name => subj).first.id
                -subjdates = Exam.where(:subject_id => subject_id).where(:examdate => spo_dates).map(&:examdate)
                -ssj = 0
                -sssj = []
                -subjdates.each do |s|
                  -if !(ddates.include? s)
                    -ssj += 1
                    -sssj << s
                -if ssj > 0
                  -errors+=1
                  -error+="<li>Дата #{d.strftime("%d.%m.%Y")} не входит в список разрешённых для учащихся организаций среднего профессионального образования, вам следует выбрать одну доступных #{ssj} дат (#{sssj.join(', ')}) по предмету #{subj}</li>"

      -elsif @ege_statement.ege_participant_category.name == 'Обучающиеся в иностранных образовательных организациях'
        -if !(spo_dates.include? d)
          -i = 0
          -nnames.each do |n|
            -if @ege_statement.read_attribute(n)
              -if d == @ege_statement.read_attribute(n+'_date')
                -subj = subjs[i]
                -i = i + 1
                -subject_id = Subject.where(:subject_name => subj).first.id
                -subjdates = Exam.where(:subject_id => subject_id).where(:examdate => spo_dates).map(&:examdate)
                -ssj = 0
                -sssj = []
                -subjdates.each do |s|
                  -if !(ddates.include? s)
                    -ssj += 1
                    -sssj << s
                -if ssj > 0
                  -errors+=1
                  -error+="<li>Дата #{d.strftime("%d.%m.%Y")} не входит в список разрешённых для учащихся иностранных образовательных организаций, вам следует выбрать одну доступных #{ssj} дат (#{sssj.join(', ')}) по предмету #{subj}</li>"


-if errors > 0
  %p
    %b
      ="Найдено ошибок: #{errors}"
  %ul
    =error.html_safe
  %p="Необходимо исправить все ошибки для формирования заявления."
-else
  %p
    %b
      ="Заявление заполнено корректно. Можете скачать его по ссылке:"
    =link_to "Заявление в формате PDF", "/ege_statements/#{@ege_statement.id}.pdf"
    %b
      ="."
  %p
    %b
      ="Заполненное на сайте заявление не является основанием для участия в ЕГЭ!"
    %br
      ="Подписанное заявление, а также оригиналы документа, удостоверяющего личность, документа об образовании (СТРОГО! оригинал или заверенная копия) и при необходимости заключение ПМПК или справка МСЭ"
    %br
  %p
    %center
      %b
        ="НЕОБХОДИМО"
  %p
    ="предоставить в период с 20 декабря 2021 года по 1 февраля 2022 года (включительно) по адресу:"
    ="#{@ege_statement.registration_place.address}"
    =", учреждение #{@ege_statement.registration_place.name}"
    =", телефон #{@ege_statement.registration_place.phones}."
  %p
    %b
      ="Дополнительная информация:"
  %p
    =@ege_statement.registration_place.formatted_body


%div
  %hr
    = link_to ege_statements_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку заявлений "
    \ 
    - if can? :edit, @ege_statement
      = link_to edit_ege_statement_path(@ege_statement), :class => "btn btn-primary btn-mini" do
        = bootstrap_icon "pencil", width: 15, height: 15, fill: "yellow"
        = " Редактировать "


