-if !@regions.nil?
  %p
    = I18n.t :region, count: @regions.count

-if @regions.count > 20
  .apple_pagination
    = will_paginate @regions

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      %th= t("regions.code")
      %th= t("regions.name")
      %th= t("regions.short_name")
      %th= t("regions.fisgia9code")
      %th= t("regions.fisgia11code")
      %th= t("regions.sort_by")
      -if current_user.admin?
        %th= t("regions.actions.title")
    %tbody
      - @regions.each do |row|
        -if can? :read, row
          %tr
            %td= row.code.to_s
            %td= link_to row.name.to_s, region_path(row)
            %td= row.short_name
            %td= row.fisgia9code
            %td= row.fisgia11code
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_region_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to region_path(row), :method => :delete,  data: { confirm: t('regions.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @regions.count > 20
  .apple_pagination
    = will_paginate @regions