.row
  .span9
    %h3.pull-left
      .text3d= t("regions.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag regions_path, :method => 'get', :id => "regions_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, Region
              = link_to new_region_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, Region) and (can? :export, Region)
              =" | "
            - if can? :export, Region
              = link_to regions_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, Region) and (can? :import, Region)
              =" | "
            - if can? :import, Region
              = link_to new_regions_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}