%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %body
    %h4
      .text3d= t("exams.actions.edit")
    = form_for @exam do |f|
      .form-group
        .alert.alert-info{:role => "alert"}
          ="Внимание! На данной странице"
          %b
            ="не выполняется"
          ="автоматическое сохранение."
          %br
          ="Вы можете в любой момент нажать «Вернуться», чтобы отменить все сделанные изменения."
          %br
          ="Для применения изменений, служит кнопка «Сохранить»."
        -#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code

        %table.table-borderless
          %tr
            %td{:style=>"vertical-align: top;"}
              .card
                .card-header
                  Карточка экзамена
                .card-body
                  -#%h5.card-title Тип образовательной организации
                  %p.card-text
                    %table.table-bordered.table-striped

                      %tr
                        %th= t("exams.exam_wave_id")
                        %td= f.collection_select :exam_wave_id, @exam_waves, :id, :name, {prompt: true, placeholder: t('exams.exam_wave_id')}, {style: "width:250px;"}

                      %tr
                        %th= t("exams.subject_id")
                        %td= f.collection_select :subject_id, @subjects, :id, :name, {prompt: true, placeholder: t('exams.subject_id')}, {style: "width:250px;"}

                      %tr
                        %td{:colspan=>2}
                          = f.check_box :is_reserv, autofocus: false, placeholder: 'exams.is_reserv'
                          = t("exams.is_reserv")

                      %tr
                        %th= t("exams.examdate")
                        %td= f.date_select :examdate, autofocus: false, placeholder: t("exams.examdate"), class: 'form-control', :start_year => 2022

                      %tr
                        %th= t("exams.name")
                        %td= f.text_field :name, autofocus: false, placeholder: t("exams.name"), class: 'form-control'
                      %tr
                        %th= t("exams.short_name")
                        %td= f.text_field :short_name, autofocus: false, placeholder: t("exams.short_name"), class: 'form-control'
                      %tr
                        %th= t("exams.fisgia11code")
                        %td= f.number_field :fisgia11code, autofocus: false, placeholder: t("exams.fisgia11code"), class: 'form-control'

              %p
                .form-actions
                  = f.submit @exam.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
                  = link_to t('buttons.back'), :back, :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.back")
            %td{:style=>"vertical-align: top;"}
              - if @exam.errors.any?
                #error_explanation
                  .alert.alert-danger.shadow
                    %h4= "#{I18n.t :error, count: @exam.errors.count} не #{I18n.t :pozvol, count: @exam.errors.count} сохранить запись:"
                  .shadow-sm.p-3.mb-5.bg-white.rounded
                    %ul
                      - @exam.errors.full_messages.each do |message|
                        %li= message
