-if !@exams.nil?
  %p
    = I18n.t :exam, count: @exams.count

-if @exams.count > 20
  .apple_pagination
    = will_paginate @exams

-#name, code, created_at, updated_at, short_name, fisgia9code, fisgia11code
%p
  %table.styled-table
    %thead
      %th= t("exams.code")
      %th= t("exams.name")
      %th= t("exams.short_name")
      %th= t("exams.fisgia9code")
      %th= t("exams.fisgia11code")
      %th= t("exams.sort_by")
      -if current_user.admin?
        %th= t("exams.actions.title")
    %tbody
      - @exams.each do |row|
        -if can? :read, row
          %tr
            %td= row.code.to_s
            %td= link_to row.name.to_s, exam_path(row)
            %td= row.short_name
            %td= row.fisgia9code
            %td= row.fisgia11code
            %td= row.sort_by
            -if current_user.admin?
              %td
                - if can? :edit, row
                  = link_to edit_exam_path(row) do
                    = image_tag('pencil.png', size: "24", :tooltip=>t("edit"))
                - if (can? :edit, row) and  (can? :delete, row)
                  = "  "
                - if can? :delete, row
                  = link_to exam_path(row), :method => :delete,  data: { confirm: t('exams.delete_confirm')} do
                    = image_tag('trash.png', size: "24", :tooltip=>t("delete"))

-if @exams.count > 20
  .apple_pagination
    = will_paginate @exams