.row
  .span9
    %h3.pull-left
      .text3d= t("exams.list.title")
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag exams_path, :method => 'get', :id => "exams_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = image_tag('find.png', size: "34")
                  = "искать"
          %td
            - if can? :create, Exam
              = link_to new_exam_path do
                = image_tag('create_new.png', size: "34")
                = "создать"
            - if (can? :create, Exam) and (can? :export, Exam)
              =" | "
            - if can? :export, Exam
              = link_to exams_export_path do
                = image_tag('download.png', size: "34")
                = "скачать"
            - if (can? :export, Exam) and (can? :import, Exam)
              =" | "
            - if can? :import, Exam
              = link_to new_exams_import_path do
                = image_tag('upload.png', size: "34")
                = "импорт"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}