%h4= t("task_recomendations.edit.title")

= form_for @task_recomendation do |f|
  .form-group
    %table
      %tr
        %td= t("task_recomendations.choose_test_type")
        %td= f.collection_select :test_type_id, @test_types, :id, :name, prompt: true, placeholder: t('task_recomendations.choose_test_type')
      %tr
        %td= t("task_recomendations.choose_subject")
        %td= f.collection_select :subject_id, @subjects, :id, :subject_name, prompt: true, placeholder: t('task_recomendations.choose_subject')
      %tr
        %td= t("task_recomendations.task_number")
        %td= f.number_field :task_number, autofocus: false, placeholder: t("task_recomendations.task_number"), class: 'form-control'
      %tr
    %h5=t("task_recomendations.recomendation")
    .field{"data-controller" => "rich-text-table"}
      =f.rich_text_area :recomendation_text
  .form-actions
    = f.submit @task_recomendation.new_record? ? t("buttons.create") : t("buttons.save"), :class => 'btn btn-primary btn-with-tooltip',"data-original-title" => t("messages.tooltips.save"),"data-placement" => "bottom"
    = link_to t("buttons.cancel"), {:action => 'index'}