.results-count.clear
  =t("messages.search.find_results")
  =@task_recomendations.count

-if @task_recomendations.count > 10
  .apple_pagination
    = will_paginate @task_recomendations

%table.table.table-bordered
  %thead
    %th= t("task_recomendations.id")
    %th= t("task_recomendations.test_type")
    %th= t("task_recomendations.subject")
    %th= t("task_recomendations.task_number")
    %th= t("task_recomendations.recomendation")
  %tbody
    - @task_recomendations.each do |pr|
      %tr
        %td= pr.id.to_s
        %td= link_to pr.test_type.to_s, task_recomendation_path(pr)
        %td= link_to pr.subject.to_s, task_recomendation_path(pr)
        %td= link_to pr.task_number.to_s, task_recomendation_path(pr)
        %td= link_to truncate(pr.recomendation_text.to_plain_text, :length=>60), task_recomendation_path(pr)
        %td
          = link_to edit_task_recomendation_path(pr), :title => t("buttons.edit") do
            = bootstrap_icon "pencil", width: 15, height: 15, fill: "green"
          = link_to task_recomendation_path(pr), :method => :delete, :title => t("buttons.delete") do
            = bootstrap_icon "trash", width: 15, height: 15, fill: "red"

-if @task_recomendations.count > 10
  .apple_pagination
    = will_paginate @task_recomendations