.row
  .span9
    %h3.pull-left= t("task_recomendations.list.title")
    -# = render_notice
    %span.top-panel-actions
      %table.table.borderless
        %tr
          %td
            = form_tag task_recomendations_path, :method => 'get', :id => "task_recomendation_search" do
              %p
                = text_field_tag :search, params[:search]
                = button_tag(type: "submit", class: "btn btn-default", :name => nil) do
                  = bootstrap_icon "search", width: 25, height: 25, fill: "blue"
          %td
            - if can? :create, TaskRecomendation
              = link_to new_task_recomendation_path do
                = bootstrap_icon "file-plus", width: 15, height: 15, fill: "blue"
            - if can? :export, TaskRecomendation
              = link_to task_recomendations_export_path do
                = bootstrap_icon "download", width: 15, height: 15, fill: "blue"
            - if can? :create, TaskRecomendation
              = link_to new_task_recomendations_import_path do
                = bootstrap_icon "upload", width: 15, height: 15, fill: "blue"


    %span.marks-filter-target
      = render :partial => 'list', :locals => {:legend => t(".title")}