%h1=t("task_recomendations.title")
%table
  %tr
    %td= t('task_recomendations.test_type')
    %td= best_in_place @task_recomendation, :test_type_id, :as => :select
  %tr
    %td= t('task_recomendations.subject')
    %td= best_in_place @task_recomendation, :subject_id, :as => :select
  %tr
    %td= t('task_recomendations.task_number')
    %td= best_in_place @task_recomendation, :task_number, :as => :input
  %tr
    %td= t('task_recomendations.recomendation')
    %td= @task_recomendation.formatted_body

%div
  = link_to t("buttons.back"), task_recomendations_path, :class => "btn btn-primary btn-mini"
