%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Импорт справочника

  %body
  %h2
    .text3d= "Импорт справочника Excel-файла"

  %p
    %b
      ="Помните:"
    ="следует загружать только таблицы, соответствующие формату выгрузки."
    %br

  %p
    .card.bg-light.mb-3
      .card-header="Требования"
      .card-body
        .card-text
          %ul
            %li Вы должны проверить свой файл на соответствие требованиями к модели справочника.
            %li Файл должен быть в формате XLSX Excel, при этом содержать столбцы 'Код', 'Наименование', 'Краткое наименование', 'Код в ФИС ГИА-9', 'Код в ФИС ГИА-11', 'Порядок сортировки'.
            %li Данные в столбцах должны соответствовать формату данных в модели.
            %li При выполнении этих требований, файл может быть импортирован.

  %h5 Выберите файл
  = form_for @question_types_import do |f|
    - if @question_types_import.errors.any?
      = pluralize(@question_types_import.errors.count, "error")
      защита от неверного импорта таблиц.
      Пожалуйста, измените свою электронную таблицу и попробуйте снова.
      %ul
        - @question_types_import.errors.full_messages.each do |msg|
          %li= msg

    = f.file_field :file, class: "filestyle", "data-input" => false

    = f.submit t("Import File")

  %hr

  %p.border-bottom-0
    = link_to question_types_path, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "card-list", width: 15, height: 15, fill: "yellow"
      = " Вернуться к списку "
    =" | "
    = link_to :back, :class => "btn btn-primary btn-mini" do
      = bootstrap_icon "reply", width: 15, height: 15, fill: "yellow"
      = t('buttons.back')
